DELETE__STATUS=2
ADD__STATUS=2
EDIT__INVALIDATED=20091010
EDIT__STATUS=2
NEW__STATUS=1
EDIT_DEL_SHORT__STATUS=1
FEATURE__STATUS=1
IMPLEMENTED_VERSION__STATUS=1
OR__STATUS=1
INFORMATION__STATUS=1
QUESTION__STATUS=1
YES__STATUS=1
NO__STATUS=1
COMMING_IN_VERSION__STATUS=1
NOT_WORKING_100PRO__STATUS=1
NOT_TESTED_100PRO__STATUS=1
NOT_USED__STATUS=1
NO_NAME__STATUS=1
TIME__STATUS=1
BG__STATUS=1
INS_1__STATUS=1
INS_2__STATUS=1
INS_3__STATUS=1
INSULIN_1__STATUS=1
INSULIN_2__STATUS=1
INSULIN_3__STATUS=1
BU__STATUS=1
ACT__STATUS=2
COMMENT__STATUS=1
DATE_MUST_BE_IN_FORMAT__STATUS=1
TIME_MUST_BE_IN_FORMAT__STATUS=1
ERROR_PARSING_DATE__STATUS=1
DATETIME__STATUS=1
PUMP_INSULIN__STATUS=1
BG_TARGET__STATUS=1
NO_EXPRESSIVENESS__STATUS=1
LITTLE_EXPRESSIVENESS__STATUS=1
STANDARD_EXPRESSIVENESS__STATUS=1
GOOD_EXPRESSIVENESS__STATUS=1
CH_LONG__STATUS=1
ACTIVITY__STATUS=1
FOOD__STATUS=2
UPDATE_FROM_FOOD__STATUS=2
EDIT_FOOD__STATUS=2
DATE_TIME__STATUS=1
FOOD_SET__STATUS=2
FOOD_BY_DESCRIPTION__STATUS=1
FOOD_BY_DESCRIPTION_TITLE__STATUS=0
DESCRIBE_FOODS__STATUS=1
CALCULATE__STATUS=1
NO_DESCRIPTIONS_WITH_CH__STATUS=1
CH__STATUS=1
ADD_ROW__STATUS=2
EDIT_ROW__STATUS=2
CLOSE__STATUS=2
COURSE_GRAPH__STATUS=2
SPREAD_GRAPH__STATUS=0
TO_BE_DRAWN__STATUS=2
CONNECT_VALUES_FOR_ONE_DAY__STATUS=2
SUM_BU__STATUS=2
SUM__STATUS=2
SUM_INSULIN__STATUS=2
AVG_BG_PER_DAY__STATUS=2
INS_PER_DAY__STATUS=1
MEALS__STATUS=2
INS_SLASH_BU__STATUS=2
DRAW__STATUS=2
DAILYGRAPHFRAME__STATUS=2
DAILYSTATSFRAME__STATUS=2
SAVE__STATUS=2
DELETE_ROW__STATUS=2
LOWEST__STATUS=2
STD_DEV__STATUS=1
READINGS__STATUS=2
HIGHEST__STATUS=2
AVG_BG__STATUS=2
BLOOD_GLUCOSE__STATUS=2
BREAD_UNITS__STATUS=2
AVG__STATUS=2
INSULIN__STATUS=2
URINE__STATUS=2
DOSE__STATUS=2
TOTAL__STATUS=2
AVG_INS__STATUS=2
DOSE_INS__STATUS=2
CANCEL__STATUS=2
OK__STATUS=2
HELP__STATUS=2
ADD_NEW_VALUES__STATUS=2
COURSEGRAPHFRAME__STATUS=2
FREQGRAPHFRAME__STATUS=0
GRAPH__STATUS=2
ADD_NEW_ROW_TO_TABLE__STATUS=2
DELETE_SELECTED_ROWS__STATUS=2
SELECT_ROW_FIRST__STATUS=2
READINGS_SLASH_DAY__STATUS=2
VALUATION__STATUS=2
INIT__STATUS=2
READY__STATUS=2
UNKNOWN__STATUS=2
COMMENTS__STATUS=2
ARE_YOU_SURE_DELETE__STATUS=2
ARE_YOU_SURE_DELETE_ROW__STATUS=2
DAILY_VALUES__STATUS=2
SHOW_DAILY_GRAPH__STATUS=2
DAILY_CONTROL__STATUS=0
MN_QUIT_LT_DESC__STATUS=2
CURRENT_DATE_HAS_CHANGED__STATUS=2
TB_ADD_ROW_DESC__STATUS=1
TB_EDIT_ROW_DESC__STATUS=1
TB_DELETE_ROW_DESC__STATUS=1
TB_READ_METER_LT_DESC__STATUS=2
TB_ABOUT_DESC__STATUS=2
TB_SHOW_GRAPH_DESC__STATUS=2
GGC_LITTLE_TITLE__STATUS=2
TAB_CONTROL__STATUS=2
TAB_SCHEDULE__STATUS=2
TAB_PLUGIN__STATUS=2
TAB_STOCKS__STATUS=2
PLUGIN_IMPLEMENTED_VERSION__STATUS=2
METER_PLUGIN_PANEL__STATUS=2
PUMP_PLUGIN_PANEL__STATUS=2
SHOW_APP__STATUS=2
SHOW_APP_DESC__STATUS=2
HIDE_APP__STATUS=2
HIDE_APP_DESC__STATUS=2
EXIT_APP__STATUS=2
EXIT_APP_DESC__STATUS=2
MN_FILE__STATUS=2
MN_DATA__STATUS=1
MN_DATA_GRAPH__STATUS=2
MN_DOCTOR__STATUS=2
MN_FOOD__STATUS=2
MN_PRINTING__STATUS=2
MN_TOOLS__STATUS=2
MN_HELP__STATUS=2
MN_LOGIN__STATUS=2
MN_LOGIN_DESC__STATUS=2
MN_LOGOUT__STATUS=2
MN_LOGOUT_DESC__STATUS=2
MN_QUIT__STATUS=2
MN_QUIT_DESC__STATUS=2
MN_DAILY__STATUS=2
MN_DAILY_DESC__STATUS=2
MN_COURSE__STATUS=2
MN_COURSE_DESC__STATUS=2
MN_SPREAD__STATUS=2
MN_SPREAD_DESC__STATUS=2
MN_FREQUENCY__STATUS=2
MN_FREQUENCY_DESC__STATUS=2
MN_HBA1C__STATUS=2
MN_HBA1C_DESC__STATUS=2
MN_DATA_RATIO__STATUS=1
MN_DATA_RATIO_DESC__STATUS=1
MN_RATIO_BASE__STATUS=1
MN_RATIO_BASE_DESC__STATUS=1
MN_RATIO_EXTENDED__STATUS=1
MN_RATIO_EXTENDED_DESC__STATUS=1
MN_RATIO_CALC__STATUS=2
MN_RATIO_CALC_DESC__STATUS=2
MN_DB_MAINT__STATUS=2
MN_DB_MAINT_DESC__STATUS=2
MN_DB_BACKUP__STATUS=2
MN_DB_BACKUP_DESC__STATUS=2
MN_DB_RESTORE__STATUS=2
MN_DB_RESTORE_DESC__STATUS=2
MN_MISC_SYNCHRONIZE__STATUS=2
MN_MISC_SYNCHRONIZE_DESC__STATUS=2
MN_PREFERENCES__STATUS=2
MN_PREFERENCES_DESC__STATUS=2
MN_ABOUT__STATUS=2
MN_ABOUT_DESC__STATUS=2
MN_CHECK_FOR_UPDATE__STATUS=2
MN_CHECK_FOR_UPDATE_DESC__STATUS=2
MN_NUTRDB_USDB__STATUS=2
MN_NUTRDB_USDB_DESC__STATUS=2
MN_NUTRDB_USER__STATUS=2
MN_NUTRDB_USER_DESC__STATUS=2
MN_MEALS__STATUS=2
MN_MEALS_DESC__STATUS=2
MN_REPORTS__STATUS=2
MN_REPORTS_DESC__STATUS=1
MN_PDF_SIMPLE__STATUS=2
MN_PDF_SIMPLE_DESC__STATUS=2
MN_PDF_EXT__STATUS=2
MN_PDF_EXT_DESC__STATUS=2
MN_DOCS__STATUS=2
MN_DOCS_DESC__STATUS=2
MN_APPOINT__STATUS=2
MN_APPOINT_DESC__STATUS=2
MN_STOCKS__STATUS=2
MN_STOCKS_DESC__STATUS=2
ENDING_DATE__STATUS=2
STARTING_DATE__STATUS=2
1_WEEK__STATUS=2
1_MONTH__STATUS=2
3_MONTHS__STATUS=2
CUSTOM__STATUS=2
DATE_RANGE_SELECTOR__STATUS=2
SU__STATUS=2
MO__STATUS=2
TU__STATUS=2
WE__STATUS=2
TH__STATUS=2
FR__STATUS=2
SA__STATUS=2
JANUARY__STATUS=2
FEBRUARY__STATUS=2
MARCH__STATUS=2
APRIL__STATUS=2
MAY__STATUS=2
JUNE__STATUS=2
JULY__STATUS=2
AUGUST__STATUS=2
SEPTEMBER__STATUS=2
OCTOBER__STATUS=2
NOVEMBER__STATUS=2
DECEMBER__STATUS=2
GENERAL_INFORMATION__STATUS=2
YOUR_NAME__STATUS=2
BOLUS_INSULIN__STATUS=2
BASAL_INSULIN__STATUS=2
GLUCOMETER__STATUS=2
BG_UNIT__STATUS=2
HBA1C__STATUS=2
YOUR_CURRENT_HBA1C__STATUS=2
NO_READINGS__STATUS=2
NO_DATASOURCE__STATUS=2
SCHEDULE__STATUS=2
YOUR_NEXT_APPOINTMENT__STATUS=2
APP_WILL_BE_FOUND_HERE__STATUS=2
STATISTICS_FOR_LAST_WEEK__STATUS=2
BG_STATISTICS__STATUS=2
BU_STATISTICS__STATUS=2
BU_PER_DAY__STATUS=2
AVG_MEAL_SIZE__STATUS=2
MEALS_PER_DAY__STATUS=2
STATISTICS__STATUS=2
PER_DAY__STATUS=2
AVG_DOSE_SIZE__STATUS=2
DOSES_PER_DAY__STATUS=2
OTHER_INFO__STATUS=2
STOCK__STATUS=2
STOCK_DATA_HERE__STATUS=2
STO_WILL_BE_FOUND_HERE__STATUS=2
NOT_YET__STATUS=2
BOLUS_INSULIN_SHORT__STATUS=2
BASAL_INSULIN_SHORT__STATUS=2
AVERAGE__STATUS=1
DOSES__STATUS=2
CALCULATED_HBA1C__STATUS=2
APPLY__STATUS=2
ERROR__STATUS=2
INVALID_NAME__STATUS=2
PREFERENCES__STATUS=2
GENERAL__STATUS=2
MEDICAL_DATA__STATUS=2
COLORS_AND_FONTS__STATUS=2
RENDERING_QUALITY__STATUS=2
SOME_VALUES_CHANGED_LIKE_TO_SAVE__STATUS=2
VALUES_CHANGED__STATUS=2
CHOOSE_A_COLOR__STATUS=2
BG_HIGH_ZONE__STATUS=2
BG_TARGET_ZONE__STATUS=2
BG_LOW_ZONE__STATUS=2
BG_AVERAGE__STATUS=2
INS_SLASH_BU_QUOTIENT__STATUS=2
NAME__STATUS=2
ABBR__STATUS=2
HIGH_BG__STATUS=2
LOW_BG__STATUS=2
TARGET_HIGH_BG__STATUS=2
TARGET_LOW_BG__STATUS=2
INSULIN_SETTINGS__STATUS=2
BLOOD_GLUCOSE_SETTINGS__STATUS=2
BLOOD_GLUCOSE_UNIT_SETTING__STATUS=2
BLOOD_GLUCOSE_SETTINGS_1__STATUS=2
BLOOD_GLUCOSE_SETTINGS_2__STATUS=2
HOST__STATUS=1
PORT__STATUS=1
USERNAME__STATUS=2
PASSWORD__STATUS=2
OPTIONS__STATUS=2
ANTIALIASING__STATUS=2
COLOR_RENDERING__STATUS=2
DITHERING__STATUS=2
FRACTIONAL_METRICS__STATUS=0
INTERPOLATION__STATUS=2
TEXT_ANTIALIASING__STATUS=2
RENDERING__STATUS=2
DE__STATUS=2
EN__STATUS=2
SI__STATUS=2
YOUR_LANGUAGE__STATUS=2
COLOR_SCHEME_SELECT__STATUS=2
SELECTED_COLOR_SCHEME__STATUS=2
NEW_SCHEME__STATUS=2
COLORS__STATUS=2
COLOR_SCHEME_PREDEFINED__STATUS=2
USE_AS_TEMPLATE__STATUS=2
CREATE_NEW_SCHEME__STATUS=2
EDIT_DELETE_SCHEME__STATUS=2
TYPE_NAME_BEFORE__STATUS=2
SCHEME_NAME_ALREADY_USED__STATUS=2
PREDEFINED_SCHEME_CANT_BE_CHANGED__STATUS=2
EXECUTABLE_FILES__STATUS=2
SELECT_PDF_VIEWER__STATUS=2
COLOR_PREVIEW__STATUS=2
ACTION__STATUS=2
ACTION_DELETE__STATUS=2
ACTION_EDIT__STATUS=2
SELECTED_SCHEME__STATUS=2
NEW_NAME__STATUS=2
SELECT_ACTION_OR_CANCEL__STATUS=2
GENERAL_SETTINGS__STATUS=2
DATABASE_SETTINGS__STATUS=2
DATABASE_SETTINGS_DESC__STATUS=2
SELECTED_DATABASE__STATUS=2
LAF_SETTINGS__STATUS=2
LAF_SETTINGS_DESC__STATUS=2
SELECTED_LAF_TYPE_NAME__STATUS=2
SELECTED_LAF_TYPE_CLASS__STATUS=2
SELECTED_SKINLF_DEF__STATUS=2
SELECT_SKINLF_SKIN__STATUS=2
SELECT__STATUS=2
BASIC_SETTINGS__STATUS=2
EMPTY_VALUE__STATUS=2
PDF_VIEWER_SETTINGS__STATUS=2
PDF_VIEWER__STATUS=2
BROWSE__STATUS=2
LUNCH_START_TIME__STATUS=2
DINNER_START_TIME__STATUS=2
NIGHT_START_TIME__STATUS=2
MODE__STATUS=1
APPLICATION_MODE__STATUS=1
PEN_INJECTION_MODE__STATUS=1
PUMP_MODE__STATUS=1
APPLICATION_MODE_DESC__STATUS=0
PEN_INJECTION_MODE_SETTINGS__STATUS=1
PUMP_MODE_SETTINGS__STATUS=1
BASAL_PRECISSION__STATUS=1
BOLUS_PRECISSION__STATUS=1
MAX_BASAL__STATUS=1
MAX_BOLUS__STATUS=1
TBR_TYPE_SELECTOR__STATUS=1
TBR_TYPE_BOTH__STATUS=1
TBR_TYPE_UNIT__STATUS=1
TBR_TYPE_PROC__INVALIDATED=20091022
TBR_TYPE_PROC__STATUS=1
TBR_TYPE_CHOICE__STATUS=0
PROCENT_MIN__INVALIDATED=20091022
PROCENT_MIN__STATUS=1
UNIT_MIN__STATUS=1
TASK_MIN__STATUS=1
TASK_MAX__STATUS=1
TASK_STEP__STATUS=1
LANGUAGE__STATUS=1
LANGPACK_VERSION__STATUS=1
LANG_WITH_HELP__STATUS=1
LANG_WITHOUT_HELP__STATUS=1
SELECT_LANGUAGE__STATUS=1
NO_HELP_AVAILABLE__STATUS=1
HELP_AVAILABLE__STATUS=1
LANG_DESC__STATUS=1
NOTE_RESTART__STATUS=1
NOTE_LANG_FEATURE_NOT_WORKING__STATUS=1
UNNAMED_USER__STATUS=2
THIS_FILE_WAS_AUTOMATICALY_GENERATED__STATUS=2
YOUR_VERSION__STATUS=2
AVAILABLE_VERSION__STATUS=2
NO_NEW_VERSION__STATUS=2
CHECK_FOR_NEW_VERSION__STATUS=2
HOST_UNAVAILABLE_INFO__STATUS=2
HOST_UNAVAILABLE_MSG__STATUS=2
DAYS_WITH_READINGS_0_1__STATUS=2
DAYS_WITH_READINGS_2_3__STATUS=2
DAYS_WITH_READINGS_4_5__STATUS=2
DAYS_WITH_READINGS_6_7__STATUS=2
DAYS_WITH_READINGS_MORE_7__STATUS=2
AXIS_TIME_LABEL__STATUS=1
AXIS_VALUE_LABEL__STATUS=1
FORMAT_DATE_DAYS__STATUS=2
FORMAT_DATE_HOURS__STATUS=2
GRAPH_NO_DATA_AVAILABLE_CHANGE__STATUS=1
DB_TOOL__STATUS=0
DB_CONFIGURATION__STATUS=2
DB_PRESS_HELP__STATUS=1
DB_CONFIG_DESC__STATUS=0
DATABASE_TYPE__STATUS=2
DATABASE_CLASSNAME__STATUS=2
HIBERNATE_DIALECT__STATUS=2
JDBC_URL__STATUS=2
HOSTNAME__STATUS=0
DATABASE__STATUS=2
PRINTING__STATUS=2
TYPE_OF_REPORT__STATUS=2
SELECT_YEAR_AND_MONTH__STATUS=2
REPORT_FOOTER__STATUS=2
FOR__STATUS=1
PRINTING_SETTINGS_NOT_SET__STATUS=2
PRINTING_SETTINGS_NOT_SET_SOL__STATUS=2
PDF_VIEVER_RUN_ERROR__STATUS=2
SELECT_STARTING_RANGE__STATUS=0
SELECT_ENDING_RANGE__STATUS=0
INS_SHORT__STATUS=2
CH_SHORT__STATUS=2
BREAKFAST__STATUS=2
LUNCH__STATUS=2
DINNER__STATUS=2
NIGHT__STATUS=2
SIMPLE_MONTHLY_REPORT__STATUS=2
EXTENDED_MONTHLY_REPORT__STATUS=2
FOOD_MENU_BASE__STATUS=0
FOOD_MENU_EXT_I__STATUS=0
FOOD_MENU_EXT_II__STATUS=0
FOOD_MENU_EXT_III__STATUS=0
STOCKS__STATUS=2
APPOINTMENTS__STATUS=2
SYSTEM_PROPERTIES__STATUS=2
ABOUT__STATUS=2
PROPERTY__STATUS=1
VALUE__STATUS=2
LICENCE__STATUS=2
CREDITS__STATUS=2
LIBRARIES__STATUS=2
MAIN__STATUS=0
ABOUT_GGC__STATUS=2
GGC_DEVELOPMENT_TEAM__STATUS=2
SEE_CREDITS__STATUS=2
GGC_TITLE__STATUS=2
CURRENT_DEVELOPERS__STATUS=2
PREVIOUS_DEVELOPERS__STATUS=2
ADDICTION_MEDICINE__STATUS=0
ADOLESCENT_MEDICINE__STATUS=0
AIDS_HIV_CARE__STATUS=0
ANESTHESIOLOGY__STATUS=0
ASTHMA_ALLERGY_IMMUNOLOGY__STATUS=0
BREAST_CANCER_SURGERY__STATUS=2
CARDIAC_SURGERY__STATUS=2
CHILD_CARE__STATUS=0
CARDIOLOGY__STATUS=2
COLORECTAL_SURGERY__STATUS=0
COSMETIC_SURGERY__STATUS=0
CRITICAL_CARE__STATUS=0
DENTAL_SPECIALTIES__STATUS=0
DERMATOLOGY__STATUS=2
DIABETES__STATUS=2
EMERGENCY_MEDICINE__STATUS=0
ENDOCRINOLOGY__STATUS=2
EPILEPSY__STATUS=2
FAMILY_MEDICINE__STATUS=0
GASTROENTEROLOGY__STATUS=2
GENERAL_SURGERY__STATUS=2
GENERAL_INTERNAL_MEDICINE__STATUS=0
GERIATRICS__STATUS=0
GYNECOLOGIC_ONCOLOGY__STATUS=2
GYNECOLOGY__STATUS=2
HAND_SURGERY__STATUS=0
HEAD_AND_NECK_SURGERY__STATUS=0
HEADACHE__STATUS=0
HEMATOLOGY__STATUS=2
HOSPITAL_INTERNAL_MEDICINE__STATUS=0
INFECTIOUS_DISEASES__STATUS=0
INFERTILITY_MEDICINE__STATUS=0
INTERNAL_MEDICINE__STATUS=0
LABORATORY_MEDICINE__STATUS=0
MIDWIFE__STATUS=0
MEDICAL_GENETICS__STATUS=0
METABOLISM__STATUS=2
MOVEMENT_DISORDERS__STATUS=0
NEONATOLOGY__STATUS=0
NEPHROLOGY__STATUS=2
NEUROLOGY__STATUS=2
NEURO_OPTHALMOLOGY__STATUS=0
NEUROSURGERY__STATUS=2
NUCLEAR_MEDICINE__STATUS=0
NUTRITION_MEDICINE__STATUS=0
OBSTETRICS_AND_GYNECOLOGY__STATUS=2
ONCOLOGY_MEDICAL__STATUS=0
ONCOLOGY_RADIATION__STATUS=0
OPTHALMOLOGY__STATUS=2
ORAL_MAXILLOFACIAL_SURGERY__STATUS=0
ORTHOPEDIC_SURGERY__STATUS=0
OTOLARYNGOLOGY__STATUS=0
OTOLOGY__STATUS=0
PAIN_MANAGEMENT__STATUS=0
PATHOLOGY__STATUS=2
PEDIATRIC__STATUS=2
PEDIATRIC_SPECIALISTS__STATUS=0
PERINATOLOGY__STATUS=2
PHYSIATRY__STATUS=0
PHYSICAL_REHABILITATION__STATUS=0
PLASTIC_RECONSTRUCTIVE_SURGERY__STATUS=0
PODIATRY__STATUS=2
PROSTATE_CARE__STATUS=0
PSYCHIATRY__STATUS=2
PSYCHOLOGY__STATUS=2
PULMONARY_MEDICINE__STATUS=0
RADIOLOGY__STATUS=2
RADIATION_ONCOLOGY__STATUS=0
REPRODUCTIVE_ENDOCRINOLOGY_INFERTILITY__STATUS=0
RHEUMATOLOGY__STATUS=2
SLEEP_DISOREDERS__STATUS=2
SPORTS_MEDICINE__STATUS=2
THORACIC_SURGERY__STATUS=0
TRANSPLANT__STATUS=2
UROLOGY__STATUS=2
VASCULAR_SURGERY__STATUS=2
DOCTORS__STATUS=2
FILTER__STATUS=2
FILTER_VISIBLE__STATUS=2
FILTER_ALL__STATUS=2
RATIO_BASE__STATUS=1
INSULIN_CARB_RATIO__STATUS=1
SENSITIVITY_FACTOR_LONG__STATUS=1
FILL_RATIO_ENTRIES__STATUS=1
RATIO_EXTENDED__STATUS=1
RATIO_ENTRY_ADD__STATUS=1
RATIO_ENTRY_EDIT__STATUS=1
TIME_FROM__STATUS=1
TIME_TILL__STATUS=1
PROCENT_OF_BASE__STATUS=1
PROCENT_OF_BASE_SHORT__STATUS=1
CH_INSULIN_RATIO_SHORT__STATUS=1
BG_INSULIN_RATIO_SHORT__STATUS=1
BG_OH_RATIO_SHORT__STATUS=1
CHECK_RATIOEXTENDED_DATA_OK__STATUS=0
CHECK_RATIOEXTENDED_FAILED__STATUS=0
RATIO_CALCULATOR__STATUS=2
TYPE_SOURCE_DATA__STATUS=1
TYPE_SOURCE_MANUAL__STATUS=1
TYPE_SOURCE_DB__STATUS=1
TDD_FOR_CALCULATION__STATUS=0
RATIO_TIME_SELECT_DESC__STATUS=2
2_WEEKS__STATUS=2
3_WEEKS__STATUS=2
DB_DATA_STATUS__STATUS=0
DB_DATA_NOT_READY__STATUS=1
DB_DATA_READY__STATUS=1
GET_DATA__STATUS=1
RULE_500__STATUS=2
RULE_450__STATUS=2
RULE_300__STATUS=2
RULE_1800__STATUS=2
RULE_1500__STATUS=2
SELECT_RANGE__STATUS=2
SELECT_RULE__STATUS=2
SENSITIVITY_FACTOR__STATUS=2
CALCULATION__STATUS=1
INS_CH_RATIO_PROC__STATUS=1
INS_BG_RATIO__STATUS=1
INS_BG_RATIO_PROC__STATUS=1
CH_BG_RATIO__STATUS=1
CH_BG_RATIO_PROC__STATUS=1
TDD_MUST_BE_GREATER_THAN_ZERO__STATUS=0
RATIO_CALCULATOR_NOT_IMPLEMENTED__STATUS=0
RATIOS_NOT_DONE__STATUS=0
RATIO_DB_IMPORT_NA__STATUS=0
BOLUS_HELPER__STATUS=0
READ_RATIOS__STATUS=0
CH_INSULIN_RATIO__STATUS=0
BG_INSULIN_RATIO__STATUS=0
BG_OH_RATIO__STATUS=0
CORRECTION_DOSE__STATUS=0
CARB_DOSE__STATUS=0
TOGETHER__STATUS=0
TOGETHER_ROUNDED__STATUS=0
NO_BG_MEASURE__STATUS=0
NO_CARBS_DEFINED__STATUS=0
UNIT_SHORT__STATUS=0
METERS_PLUGIN__STATUS=2
PUMPS_PLUGIN__STATUS=2
CGMS_PLUGIN__STATUS=0
NUTRITION_PLUGIN__STATUS=0
STATUS_NOT_INSTALLED__STATUS=2
STATUS_NOT_AVAILABLE__STATUS=2
STATUS_INSTALLED__STATUS=2
PLUGIN_NOT_INSTALLED_OR_AVAILABLE__STATUS=2
BACKUP__STATUS=2
BACKUP_DB_TITLE__STATUS=2
BACKUP_DB_TITLE_SHORT__STATUS=2
SELECT_ELEMENTS_TO_BACKUP__STATUS=2
TOTAL_PROGRESS__STATUS=2
BACKUP_NOT_STARTED_YET__STATUS=2
CURRENT_TASK__STATUS=2
NO_TASK_STARTED__STATUS=2
GGC_BACKUP__STATUS=2
NUTRITION_OBJECTS__STATUS=2
USER_FOOD_GROUPS__STATUS=2
MEAL_GROUPS__STATUS=2
FOODS__STATUS=2
TASK__STATUS=2
SETTINGS__STATUS=2
CONFIGURATION__STATUS=0
COLOR_SCHEMES__STATUS=0
RESTORE_DB_TITLE__STATUS=2
RESTORE_DB_TITLE_SHORT__STATUS=2
RESTORE__STATUS=2
RESTORE_NOT_STARTED_YET__STATUS=2
RESTORE_SELECTOR_DESC__STATUS=0
SELECT_ELEMENTS_TO_RESTORE__STATUS=2
DAILY_VALUES_APPEND__STATUS=2
FILE_FILTER_DBE__STATUS=2
FILE_FILTER_ZIP__STATUS=2
SELECT_FILE_TO_RESTORE__STATUS=2
NEXT_STEP__STATUS=2
LEGEND__STATUS=2
NEWEST__STATUS=2
NOT_UPDATED__STATUS=2
NOT_UPDATABLE__STATUS=2
UNKNOWN_STATUS__STATUS=2
CHECK_SERVER__STATUS=2
RUN_UPDATE__STATUS=2
CURRENT_VERSION__STATUS=2
SERVER_VERSION__STATUS=2
UPDATEABLE__STATUS=2
UPDATE_APPLICATION__STATUS=2
UPDATE_SERVER_NA__STATUS=2
NO_UPDATE_FOUND__STATUS=0
UPDATE_FOR_HIGHER_DB_FOUND__STATUS=0
UPDATE_FOUND_VERSION__STATUS=0
UPDATE_FOUND_ALSO_HIGHER_DB__STATUS=0
STATUS_UPD_FAILED_DATA__STATUS=0
STATUS_UPD_FAILED_COMM_ERROR__STATUS=0
STATUS_UPD_NO_VALID_UPDATE__STATUS=0
STATUS_UPD_NO_UPDATE__STATUS=0
STATUS_UPD_UPDATE_FOUND__STATUS=0
SERVER_STATUS__STATUS=0
NO_STATUS__STATUS=0
DB_ERROR_ON_LOAD__STATUS=2
DB_HEADER__STATUS=2
DB_VERSION_LOWER__STATUS=2
DB_VERSION_HIGHER__STATUS=2
ERROR_DIALOG__STATUS=2
DETAILS__STATUS=2
ERROR_SOLUTION__STATUS=2
EXCEPTION_LOG__INVALIDATED=20091022
EXCEPTION_LOG__STATUS=0
SEND_TO_SERVER__STATUS=2
SENDING_TO_SERVER__STATUS=2
SEND_TO_SERVER_TEXT__STATUS=2
NO_SOLUTION_AVAILABLE__STATUS=2
DEVICE_METER__STATUS=0
DEVICE_PUMP__STATUS=0
DEVICE_CGMS__STATUS=0
PLUGIN_NOT_INSTALLED__STATUS=0
PLUGIN_NA__STATUS=0
PLUGIN_NO_FUNCTIONALITY__STATUS=0
DEVICES_USED__STATUS=0
PLUGINS__STATUS=2
PLUGIN_NOT_ACTIVE__STATUS=0
IMPORT_FILE__STATUS=2
