DELETE__STATUS=2
ADD__STATUS=2
EDIT__STATUS=2
NEW__STATUS=2
INFORMATION__STATUS=0
QUESTION__STATUS=2
YES__STATUS=2
NO__STATUS=2
OK__STATUS=0
CANCEL__STATUS=2
APPLY__STATUS=2
SELECT__STATUS=2
HELP__STATUS=2
ROOT__STATUS=1
SELECT_ITEM_FIRST__STATUS=2
ARE_YOU_SURE_DELETE__STATUS=2
TRANSLATED_NAME__STATUS=2
ID__STATUS=2
USDA_NUTRITION_DATABASE__STATUS=2
USER_NUTRITION_DATABASE__STATUS=2
USDA_NUTRITION_DATABASE_DESC__STATUS=2
USER_NUTRITION_DATABASE_DESC__STATUS=2
USDA_NUTRITION_DB__STATUS=2
USER_NUTRITION_DB__STATUS=2
MEALS_DB__STATUS=2
NONE__STATUS=2
NUTRITION__STATUS=2
AMOUNT_LBL__STATUS=2
MN_FOOD__STATUS=1
MN_NUTRDB_USDB__STATUS=1
MN_NUTRDB_USDB_DESC__STATUS=1
MN_NUTRDB_USER__STATUS=1
MN_NUTRDB_USER_DESC__STATUS=1
MN_MEALS__STATUS=1
MN_MEALS_DESC__STATUS=1
MN_FOODMENU__STATUS=1
MN_FOODMENU_DESC__STATUS=0
MN_FOODMENU_SIMPLE__STATUS=1
MN_FOODMENU_SIMPLE_DESC__STATUS=0
MN_FOODMENU_EXT1__STATUS=1
MN_FOODMENU_EXT1_DESC__STATUS=0
MN_FOODMENU_EXT2__STATUS=1
MN_FOODMENU_EXT2_DESC__STATUS=0
MN_FOODMENU_EXT3__STATUS=0
MN_FOODMENU_EXT3_DESC__STATUS=0
PM_NUT_VIEW__STATUS=2
PM_NUT_CLOSE__STATUS=2
PM_NUT_EDIT_GROUP__STATUS=2
PM_NUT_ADD_GROUP__STATUS=2
PM_NUT_ADD_FOOD_DESCRIPTION__STATUS=2
PM_NUT_EDIT_FOOD_DESCRIPTION__STATUS=2
PM_NUT_ADD_MEAL__STATUS=2
PM_NUT_EDIT_MEAL__STATUS=2
NUTRITION_OBJECTS__STATUS=2
USER_FOOD_GROUPS__STATUS=2
MEAL_GROUPS__STATUS=2
MEALS__STATUS=2
FOODS__STATUS=2
NEW_FOOD__STATUS=2
ADD_FOOD__STATUS=2
FOOD_GROUP__STATUS=2
GROUP_NAME__STATUS=2
FOOD_NAME__STATUS=2
REFUSE_LBL__STATUS=2
NUTRITIONS_FOOD__STATUS=2
FOOD_DESCRIPTION__STATUS=2
HOME_WEIGHTS__STATUS=0
WEIGHT_TYPE__STATUS=2
AMOUNT_WEIGHT__STATUS=2
WEIGHT__STATUS=2
UNITS__STATUS=2
FOOD_GROUPS__STATUS=2
MEAL_GROUP__STATUS=2
SELECTED_GROUP__STATUS=2
SELECT_GROUP__STATUS=2
PARENT_GROUP__STATUS=2
EDIT_MEAL_GROUP__STATUS=2
ADD_MEAL_GROUP__STATUS=2
NEW_GROUP__STATUS=2
TRANSLATION_KEYWORD__STATUS=2
WISH_TO_SAVE_NEW_GROUP__STATUS=2
WISH_TO_SAVE_EDITED_GROUP__STATUS=2
ADD_FOOD_GROUP__STATUS=2
EDIT_FOOD_GROUP__STATUS=2
NUTRITION_TYPE__STATUS=2
SELECTED_ITEM__STATUS=2
NUTRITION_TYPE_FOR_SELECTOR__STATUS=1
SELECTOR__STATUS=1
USDA_NUTRITION__STATUS=1
USER_NUTRITION__STATUS=1
MEAL__STATUS=2
SELECT_ITEM__STATUS=2
MEALS_FOODS_SELECTOR__STATUS=2
MEAL_ADD__STATUS=2
MEAL_EDIT__STATUS=2
MEAL_NAME__STATUS=2
AVAILABLE_NUTRITIONS__STATUS=2
FOODS_MEALS_NUTRITIONS__STATUS=2
MEAL_FOOD_ADD_DESC__STATUS=2
MEAL_FOOD_EDIT_DESC__STATUS=2
MEAL_FOOD_DELETE_DESC__STATUS=2
MEAL_TYPE__STATUS=2
DESCRIPTION__STATUS=2
TRANSLATION_KEYWORD_MEAL__STATUS=2
TRANSLATED_NAME_MEAL__STATUS=2
GROUP__STATUS=2
WISH_TO_SAVE_NEW_MEAL__STATUS=2
WISH_TO_SAVE_EDITED_MEAL__STATUS=2
NEW_MEAL__STATUS=2
CANT_SELECT_CIRCULAR_MEAL__STATUS=2
CANT_SELECT_CHILD_OR_GROUP__STATUS=2
MEAL_VIEW__STATUS=0
MEALS_DATABASE__STATUS=2
MEALS_DATABASE_DESC__STATUS=2
ADD_MEAL__STATUS=2
FOOD_EDIT__STATUS=2
SELECTED_NUTRITION__STATUS=2
SELECT_NUTRITION__STATUS=2
SELECTED_HOME_WEIGHT__STATUS=0
SELECT_HOME_WEIGHT__STATUS=0
NEW_NUTR_DEF__STATUS=2
WEIGHT_UNIT__STATUS=2
TAG__STATUS=0
SELECTOR_NUTRITION_DEFINITION__STATUS=0
NUTRITION_NAME__STATUS=2
NUTRITION_SELECTOR__STATUS=0
HOME_WEIGHT_SELECTOR__STATUS=0
WISH_TO_SAVE_NEW_FOOD__STATUS=2
WISH_TO_SAVE_EDITED_FOOD__STATUS=2
NUTRITIONS__STATUS=2
SELECTOR_HOME_WEIGHT__STATUS=0
NEW_HOME_WEIGHT__STATUS=2
HOME_WEIGHT_NAME__STATUS=0
USER_DEFINED__STATUS=2
HOME_WEIGHT_ADD_DESC__STATUS=0
HOME_WEIGHT_EDIT_DESC__STATUS=0
HOME_WEIGHT_DELETE_DESC__STATUS=0
WEIGHT_LBL2__STATUS=2
HOME_WEIGHTS_LBL__STATUS=0
WGHT_PER_AMOUNT__STATUS=2
WEIGHT_SHORT__STATUS=2
MEALS_FOODS_SELECTOR_DAILY__STATUS=2
NAME__STATUS=1
HOME_WEIGHT__STATUS=0
NO_ITEM_SELECTED__STATUS=2
PRINT_FOOD_DESC__STATUS=0
DATE__STATUS=0
TIME__STATUS=0
FOOD_MENU_BASE__STATUS=0
FOOD_MENU_EXT_I__STATUS=0
FOOD_MENU_EXT_II__STATUS=0
FOOD_MENU_EXT_III__STATUS=0
REPORT_FOOTER__STATUS=0
TOGETHER__STATUS=0
CH__STATUS=0
INS__STATUS=0
BG__STATUS=0
AMOUNT_SHORT__STATUS=0
PROCNT__STATUS=2
FAT__STATUS=2
CHOCDF__STATUS=0
ASH__STATUS=2
ENERC_KCAL__STATUS=2
STARCH__STATUS=2
SUCS__STATUS=2
GLUS__STATUS=2
FRUS__STATUS=2
LACS__STATUS=2
MALS__STATUS=2
ALC__STATUS=1
WATER__STATUS=2
CAFFN__STATUS=2
GI__STATUS=2
GL__STATUS=0
GI_MIN__STATUS=2
GI_MAX__STATUS=2
GL_MIN__STATUS=0
GL_MAX__STATUS=0
ENERC_KJ__STATUS=2
SUGAR__STATUS=0
GALS__STATUS=0
FIBTG__STATUS=0
CA__STATUS=2
FE__STATUS=2
MG__STATUS=2
P__STATUS=2
K__STATUS=2
NA__STATUS=2
ZN__STATUS=2
CU__STATUS=2
FLD__STATUS=1
MN__STATUS=2
SE__STATUS=2
VITA_IU__STATUS=0
VITA_RAE__STATUS=0
CARTB__STATUS=2
CARTA__STATUS=2
TOCPHA__STATUS=0
VITD-__STATUS=0
VITB6A__STATUS=2
VITB12__STATUS=2
VITK__STATUS=0
FAMS__STATUS=2
FAPU__STATUS=2
CHOLE__STATUS=2
FATRN__STATUS=0
FASAT__STATUS=2
FATRNM__STATUS=0
FATRNP__STATUS=2
FOL__STATUS=0
CHOLN__STATUS=0
THEBRN__STATUS=0
RETOL__STATUS=0
CRYPX__STATUS=0
LYCPN__STATUS=0
LUT+ZEA__STATUS=0
TOCPHB__STATUS=0
TOCPHG__STATUS=0
TOCPHD__STATUS=0
VITC__STATUS=0
THIA__STATUS=0
RIBF__STATUS=0
NIA__STATUS=0
PANTAC__STATUS=0
FOLAC__STATUS=2
FOLFD__STATUS=0
FOLDFE__STATUS=0
BETN__STATUS=0
TRP_G__STATUS=0
THR_G__STATUS=2
ILE_G__STATUS=0
LEU_G__STATUS=2
LYS_G__STATUS=0
MET_G__STATUS=2
CYS_G__STATUS=0
PHE_G__STATUS=2
TYR_G__STATUS=2
VAL_G__STATUS=2
ARG_G__STATUS=2
HISTN_G__STATUS=0
ALA_G__STATUS=2
ASP_G__STATUS=2
GLU_G__STATUS=0
GLY_G__STATUS=0
PRO_G__STATUS=2
SER_G__STATUS=2
HYP__STATUS=0
PHYSTR__STATUS=0
STID7__STATUS=0
CAMD5__STATUS=0
SITSTR__STATUS=0
-TO-SERVE__STATUS=0
AFTER__STATUS=0
APPROX__STATUS=0
AMOUNT__STATUS=0
AVG.__STATUS=0
BLOCK__STATUS=0
BLOCKS__STATUS=0
BONE__STATUS=2
BONELESS__STATUS=0
BOTTLE__STATUS=2
BAG__STATUS=0
BAR__STATUS=0
BIG__STATUS=0
BOX__STATUS=0
CAN__STATUS=2
CHOPPED__STATUS=0
CHUNK__STATUS=0
CHUNKS__STATUS=0
CONTAINER__STATUS=0
CONTENTS__STATUS=0
COOKED__STATUS=2
COOKIE__STATUS=0
COOK__STATUS=0
COOKING__STATUS=0
CRUMBLED__STATUS=0
CRUSHED__STATUS=0
CUBED__STATUS=2
CUBIC__STATUS=2
CUT__STATUS=0
CUBE__STATUS=2
CUBES__STATUS=2
CUP__STATUS=2
CUPCAKE__STATUS=0
CUPS__STATUS=0
CURD__STATUS=0
DICED__STATUS=0
DASH__STATUS=0
DRAINED__STATUS=0
DIA__STATUS=2
DIA.__STATUS=2
DIAM__STATUS=2
DIAM.__STATUS=2
DIAMETER__STATUS=1
ENVELOPE__STATUS=0
EXTRA__STATUS=0
FOR__STATUS=0
FROM__STATUS=0
FROZEN__STATUS=0
FRUIT__STATUS=0
FRUITS__STATUS=0
FL__STATUS=0
FLUID__STATUS=0
GROUND__STATUS=0
G__STATUS=0
HIGH__STATUS=0
IN__STATUS=0
IN.__STATUS=0
INCH__STATUS=0
INSTANT__STATUS=0
ITEM__STATUS=0
ITEMS__STATUS=0
INDIVIDUAL__STATUS=0
JAR__STATUS=0
JUMBO__STATUS=0
LARGE__STATUS=0
LEAVES__STATUS=2
LONG__STATUS=2
LB__STATUS=0
MAKE__STATUS=0
MASHED__STATUS=0
MAKES__STATUS=0
MEDIUM__STATUS=0
MEAT__STATUS=0
ML__STATUS=0
MELTED__STATUS=0
NOT__STATUS=2
NET__STATUS=0
OUNCE__STATUS=0
OZ__STATUS=0
OZ.__STATUS=0
OR__STATUS=2
PACK__STATUS=0
PACKAGE__STATUS=0
PACKET__STATUS=0
PACKAGES__STATUS=0
PACKED__STATUS=0
PAT__STATUS=0
PATTY__STATUS=0
PIECE__STATUS=0
PIECES__STATUS=0
PKG.__STATUS=0
POD__STATUS=0
PODS__STATUS=0
PORTION__STATUS=0
POWDER__STATUS=0
PRODUCT__STATUS=0
PREPARED__STATUS=0
QUART__STATUS=0
RAW__STATUS=0
READY__STATUS=0
READY-TO__STATUS=0
READY-TO-COOK__STATUS=0
READY-TO-EAT__STATUS=0
READY-TO-SERVE__STATUS=0
RECIPE__STATUS=0
RECONSTITUTED__STATUS=0
REFRIGATED__STATUS=0
REFRIGERATED__STATUS=0
REFUSE__STATUS=0
REGULAR__STATUS=0
REMOVED__STATUS=0
ROLL__STATUS=0
ROLLS__STATUS=0
SCOOP__STATUS=0
SERVING__STATUS=0
SERVINGS__STATUS=0
SHREDDED__STATUS=0
SHELLED__STATUS=0
SIFTED__STATUS=0
SIZE__STATUS=0
SMALL__STATUS=2
SMALLER__STATUS=0
SKIN__STATUS=0
SLICE__STATUS=0
SLICED__STATUS=0
SLICES__STATUS=0
SNACK__STATUS=0
SNACK-SIZE__STATUS=0
SQ__STATUS=1
SPRIG__STATUS=0
SPRIGS__STATUS=0
SPOON__STATUS=2
STICK__STATUS=0
STICKS__STATUS=0
TABLESPOON__STATUS=0
TBSP__STATUS=0
TBS__STATUS=0
TEASPOON__STATUS=2
TO__STATUS=2
TSP__STATUS=0
THAWED__STATUS=2
THICK__STATUS=0
THIN__STATUS=2
THICK.__STATUS=0
UNIT__STATUS=0
UNPACKED__STATUS=0
UNPEELED__STATUS=0
UNPREPARED__STATUS=0
UNSIFTED__STATUS=0
UNTHAWED__STATUS=0
UNDILUTED__STATUS=0
UNDRAINED__STATUS=0
UNHEATED__STATUS=0
WHOLE__STATUS=0
WITH__STATUS=2
WITHOUT__STATUS=2
WRAPPED__STATUS=0
WEDGE__STATUS=0
WEDGES__STATUS=0
WHIPPED__STATUS=2
YIELD__STATUS=0
YIELDS__STATUS=0
X__STATUS=0
MILK__STATUS=2
EGG__STATUS=2
STEAK__STATUS=2
HEADS__STATUS=2
