DEVICE_NAME_NORMAL__STATUS=1
DEVICE_NAME_BIG__STATUS=1
DEVICE_FULL_NAME_WITHOUT_PORT__STATUS=1
DEVICE_FULL_NAME_WITH_PORT__STATUS=1
DEVICE_PLUGIN__STATUS=1
DEVICE_PLUGIN_ABOUT__STATUS=1
MY____STATUS=1
NEW____STATUS=1
DEVICE_CONFIGURATION__STATUS=1
SELECT_X_DEVICE__STATUS=1
SELECTED_X_DEVICE__STATUS=1
DEVICE_CUSTOM_NAME__STATUS=1
DEVICE_DOWNLOAD__STATUS=0
DEVICE_SETTINGS__STATUS=1
MN_PUMPS__STATUS=1
MN_PUMPS_READ__STATUS=1
MN_PUMPS_READ_DESC__STATUS=1
MN_PUMPS_LIST__STATUS=1
MN_PUMPS_LIST_DESC__STATUS=1
MN_PUMPS_CONFIG__STATUS=1
MN_PUMPS_CONFIG_DESC__STATUS=1
MN_PUMP_PROFILES__STATUS=1
MN_PUMP_PROFILES_DESC__STATUS=1
MN_PUMPS_MANUAL_ENTRY__STATUS=1
MN_PUMPS_MANUAL_ENTRY_DESC__STATUS=1
MN_PUMPS_ADDITIONAL_DATA__STATUS=2
MN_PUMPS_ADDITIONAL_DATA_DESC__STATUS=1
MN_PUMPS_ABOUT__STATUS=1
MN_PUMPS_ABOUT_DESC__STATUS=1
MN_PUMPS_READ_DATA__STATUS=1
MN_PUMPS_READ_DATA_DESC__STATUS=1
MN_PUMPS_READ_CONFIG__STATUS=1
MN_PUMPS_READ_CONFIG_DESC__STATUS=1
MN_PUMPS_READ_FILE__STATUS=1
MN_PUMPS_READ_FILE_DESC__STATUS=1
SELECTOR_DEVICE__STATUS=1
OOPS_DEVICE_NOT_CONFIGURED__STATUS=1
CONFIGURED_DEVICE_INSTRUCTIONS__STATUS=1
DEVICE_ICON__STATUS=1
BASE_TYPE_SH__STATUS=1
EXT_TYPE_SH__STATUS=0
PROFILE_TYPE_SH__STATUS=1
CONFIGURED_DEVICE__STATUS=1
STATUS_READER_ERROR__STATUS=1
ERROR_CONTACTING_DEVICE__STATUS=1
DEVICE_INFO__STATUS=0
READ_DEVICE_DATA_TITLE__STATUS=1
READ_DEVICE_CONFIG_TITLE__STATUS=1
SETTING_GROUP__STATUS=0
EXPORT_DEVICE_DATA__STATUS=1
DEVICE_LIST_WEB__STATUS=1
DEVICE_LIST_WEB_DESC__STATUS=0
ROCHE_DESC__STATUS=0
MINIMED_DESC__STATUS=0
ANIMAS_DESC__STATUS=0
INSTRUCTIONS_DANA_III_R__STATUS=0
INSTRUCTIONS_ACCUCHEK_SPIRIT__STATUS=0
NOT_ALL_REQUIRED_VALUES_SET__STATUS=0
AVG_BG__STATUS=1
BLOOD_GLUCOSE__STATUS=1
BREAD_UNITS__STATUS=1
AVG__STATUS=0
INSULIN__STATUS=2
TOTAL__STATUS=1
AVG_INS__STATUS=0
DOSE_INS__STATUS=1
BOLUS__STATUS=1
BASAL__STATUS=1
MEALS__STATUS=1
LOWEST__STATUS=1
STD_DEV__STATUS=0
READINGS__STATUS=1
HIGHEST__STATUS=0
DOSE__STATUS=0
SUM__STATUS=1
FOOD__STATUS=0
IMMEDIATE_AMOUNT__STATUS=0
PUMP_DAILY_OVERVIEW__STATUS=0
DATE__STATUS=1
TIME__STATUS=1
ADD_ROW__STATUS=1
EDIT_ROW__STATUS=1
DELETE_MANY_ADDITIONAL_DATA__STATUS=0
BASE_TYPE__STATUS=0
SUB_TYPE__STATUS=1
ADDITIONAL__STATUS=0
ADD_DATA_ACTIVITY__STATUS=0
ADD_DATA_COMMENT__STATUS=0
ADD_DATA_BG__STATUS=0
ADD_DATA_URINE__STATUS=1
ADD_DATA_CH__STATUS=1
ADD_DATA_FOOD_DB__STATUS=0
ADD_DATA_FOOD_DESC__STATUS=0
SELECT_SUBTYPE__STATUS=0
ENTRY_TYPE__STATUS=0
ADD_PARAMETER__STATUS=0
SELECT_ADDITONAL_DATA__STATUS=0
ADD_PARAMETER2__STATUS=0
FOOD_BY_DESC__STATUS=0
FOOD_FROM_DB__STATUS=0
IS_FOOD_SET__STATUS=0
IS_FOOD_AND_CH_SET__STATUS=0
SET__STATUS=0
FOOD_SET_DB__STATUS=0
FOOD_SET_DESC__STATUS=0
SELECT_ITEM__STATUS=0
BASAL_DOSE__STATUS=0
BOLUS_DOSE__STATUS=0
EVENT__STATUS=0
ALARM__STATUS=0
ERROR__STATUS=0
REPORT__STATUS=0
PEN_INJECTION_BASAL__STATUS=0
PEN_INJECTION_BOLUS__STATUS=0
ADDITIONAL_DATA__STATUS=0
BOLUS_INSULIN__STATUS=0
BASAL_INSULIN__STATUS=0
TEMPORARY_BASAL_RATE__STATUS=0
BASAL_TEMPORARY_BASAL_RATE__STATUS=0
BASAL_TEMPORARY_BASAL_RATE_PROFILE__STATUS=0
TEMPORARY_BASAL_RATE_SHORT__STATUS=0
TBR_TYPE_UNIT__STATUS=0
TBR_TYPE_PROC__STATUS=0
PROFILE__STATUS=0
NOT_SELECTED__STATUS=0
BASAL_PROFILE__STATUS=0
ACTIVITY__STATUS=0
COMMENT__STATUS=1
URINE__STATUS=1
CH_LONG__STATUS=1
BASAL_TYPE__STATUS=0
SELECT_BASAL_TYPE__STATUS=0
BASAL_VALUE__STATUS=0
BASAL_PUMP_STATUS__STATUS=0
ON__STATUS=0
OFF__STATUS=0
SUSPENDED__STATUS=0
PUMP_STATUS__STATUS=0
BASAL_TEMPORARY_BASAL_RATE_ENDED__STATUS=0
BASAL_TEMPORARY_BASAL_RATE_CANCELED__STATUS=0
BOLUS_TYPE__STATUS=0
SELECT_BOLUS_TYPE__STATUS=0
BOLUS_STANDARD__STATUS=0
BOLUS_AUDIO__STATUS=0
BOLUS_SQUARE__STATUS=0
BOLUS_MULTIWAVE__STATUS=0
AMOUNT__STATUS=0
AMOUNT_MW_1__STATUS=0
AMOUNT_MW_2__STATUS=0
DURATION_SHORT__STATUS=0
SQUARE_AMOUNT__STATUS=0
DURATION__STATUS=0
ALARM_TYPE__STATUS=0
ALARM_CARTRIDGE_LOW__STATUS=0
ALARM_BATTERY_LOW__STATUS=0
ALARM_REVIEW_DATETIME__STATUS=0
ALARM_ALARM_CLOCK__STATUS=0
ALARM_PUMP_TIMER__STATUS=0
ALARM_TEMPORARY_BASAL_RATE_CANCELED__STATUS=0
ALARM_TEMPORARY_BASAL_RATE_OVER__STATUS=0
ALARM_BOLUS_CANCELED__STATUS=0
ERROR_TYPE__STATUS=0
ERROR_UNKNOWN_ERROR__STATUS=0
ERROR_CARTRIDGE_EMPTY__STATUS=0
ERROR_BATTERY_DEPLETED__STATUS=0
ERROR_AUTOMATIC_OFF__STATUS=0
ERROR_NO_DELIVERY__STATUS=0
ERROR_END_OF_OPERATION__STATUS=0
ERROR_MECHANICAL_ERROR__STATUS=0
ERROR_ELECTRONIC_ERROR__STATUS=0
ERROR_POWER_INTERRUPT__STATUS=0
ERROR_CARTRIDGE_ERROR__STATUS=0
ERROR_SET_NOT_PRIMED__STATUS=0
ERROR_DATA_INTERRUPTED__STATUS=0
ERROR_LANGUAGE_ERROR__STATUS=0
ERROR_INSULIN_CHANGED__STATUS=0
EVENT_TYPE__STATUS=0
EVENT_PRIME_INFUSION_SET__STATUS=0
EVENT_CARTRIDGE_CHANGED__STATUS=0
EVENT_BASAL_RUN__STATUS=0
EVENT_BASAL_STOP__STATUS=0
EVENT_POWER_DOWN__STATUS=0
EVENT_POWER_UP__STATUS=0
EVENT_DATETIME_SET__STATUS=0
EVENT_DATETIME_CORRECT__STATUS=0
EVENT_DATETIME_CORRECT_TIME_SHIFT_BACK__STATUS=0
EVENT_DATETIME_CORRECT_TIME_SHIFT_FORWARD__STATUS=0
EVENT_SET_MAX_BASAL__STATUS=0
EVENT_SET_MAX_BOLUS__STATUS=0
EVENT_BATERRY_REMOVED__STATUS=0
EVENT_BATERRY_REPLACED__STATUS=0
EVENT_BATERRY_LOW__STATUS=0
EVENT_BATERRY_LOW_DESC__STATUS=0
EVENT_BG_FROM_METER__STATUS=0
EVENT_RESERVOIR_LOW__STATUS=0
EVENT_RESERVOIR_LOW_DESC__STATUS=0
EVENT_SET_TEMPORARY_BASAL_RATE_TYPE__STATUS=0
EVENT_SET_BASAL_PATTERN__STATUS=0
EVENT_SELF_TEST__STATUS=0
EVENT_DOWNLOAD__STATUS=0
REPORT_TYPE__STATUS=0
REPORT_TEXT__STATUS=0
REPORT_MISC__STATUS=0
REPORT_BOLUS_TOTAL_DAY__STATUS=0
REPORT_BASAL_TOTAL_DAY__STATUS=0
REPORT_INSULIN_TOTAL_DAY__STATUS=0
PROFILE_SELECTOR__STATUS=0
NEW__STATUS=0
PROFILE_BASAL_ENTRY__STATUS=0
TIME_FROM__STATUS=0
TIME_TILL__STATUS=0
BASAL_AMOUNT__STATUS=0
PROFILE_EDITOR__STATUS=0
DATE_FROM__STATUS=0
DATE_TILL__STATUS=0
BASE_BASAL__STATUS=0
NAME__STATUS=0
FROM__STATUS=0
TILL__STATUS=0
NEW__PROFILE__STATUS=0
NAME_OF_PROFILE__STATUS=0
PUMP_PROFILE_SELECTOR__STATUS=0
ADD_BASAL_SUB_ENTRY__STATUS=0
EDIT_BASAL_SUB_ENTRY__STATUS=0
DELETE_BASAL_SUB_ENTRY__STATUS=0
IMPORT_BASAL_SUB_ENTRIES__STATUS=0
VALUE_AXIS_BASAL__STATUS=0
TIME_AXIS_BASAL__STATUS=0
PUMP_TOOL__STATUS=0
PUMP_DATA__STATUS=0
PUMP_DATA_EXTENDED__STATUS=0
PUMP_PROFILE__STATUS=0
MN_PUMP__STATUS=0
MN_PUMP_PRINT_DESC__STATUS=0
MN_PUMP_PRINT_SIMPLE__STATUS=0
MN_PUMP_PRINT_SIMPLE_DESC__STATUS=0
MN_PUMP_PRINT_EXT__STATUS=0
MN_PUMP_PRINT_EXT_DESC__STATUS=0
VALUE_SHORT__STATUS=0
OTHER_DATA__STATUS=0
OTHER_DATA_FOOD__STATUS=0
PUMP_DATA_BASE__STATUS=0
PUMP_DATA_EXT__STATUS=0
FOOD_DB_PRINT__STATUS=0
FOOD_DESC_PRINT__STATUS=0
FOOD_DESC_PRINT_NOT_YET__STATUS=0
PCFG_BASAL_INCREMENT__STATUS=0
PCFG_BOLUS_INCREMENT__STATUS=0
PCFG_BOLUS_PRESET__STATUS=0
PCFG_BOLUS_ALARM__STATUS=0
PCFG_BOLUS_BLOCK__STATUS=0
PCFG_BASAL_UNIT__STATUS=0
UNIT_PER_HOUR__STATUS=0
UNIT_PER_DAY__STATUS=0
PCFG_MAX_BOLUS__STATUS=0
PCFG_MAX_BASAL__STATUS=0
PCFG_MAX_DAILY__STATUS=0
PCFG_GLUCOSE_UNIT__STATUS=0
PCFG_EASY_MODE__STATUS=0
PCFG_ACTIVE_INSULIN_DECREMENT_RATIO__STATUS=0
PCFG_CH_INS_RATIO__STATUS=0
PCFG_BG_INS_RATIO__STATUS=0
PCFG_TARGET_BG__STATUS=0
PCFG_ACTIVE_INSULIN_RATE__STATUS=0
