CANCEL__STATUS=2
OK__STATUS=0
HELP__STATUS=2
CLOSE__STATUS=2
APPLY__STATUS=2
LOG____STATUS=0
SELECT__STATUS=0
ERROR__STATUS=0
ADD__STATUS=0
EDIT__STATUS=0
DELETE__STATUS=0
NEXT__STATUS=0
YES__STATUS=0
NO__STATUS=0
WARNING__STATUS=0
UNIT_MMOLL__STATUS=0
UNIT_MGDL__STATUS=0
FALSE__STATUS=0
TRUE__STATUS=0
DATE__STATUS=0
TIME__STATUS=0
GRAPH__STATUS=0
SELECT_ITEM_FIRST__STATUS=0
ARE_YOU_SURE_DELETE__STATUS=0
QUESTION__STATUS=0
INFORMATION__STATUS=0
INVALID_DATA__STATUS=0
VERSION__STATUS=0
SU__STATUS=0
MO__STATUS=0
TU__STATUS=0
WE__STATUS=0
TH__STATUS=0
FR__STATUS=0
SA__STATUS=0
JANUARY__STATUS=0
FEBRUARY__STATUS=0
MARCH__STATUS=0
APRIL__STATUS=0
MAY__STATUS=0
JUNE__STATUS=0
JULY__STATUS=0
AUGUST__STATUS=2
SEPTEMBER__STATUS=2
OCTOBER__STATUS=0
NOVEMBER__STATUS=0
DECEMBER__STATUS=0
MY____STATUS=0
DEVICE_COMPANY__STATUS=0
DEVICE_DEVICE__STATUS=2
NO_COMPANY_SELECTED__STATUS=0
NO_DEVICE_SELECTED__STATUS=0
TIMEZONE_CONFIGURATION__STATUS=0
SELECT_ITEM_OR_CANCEL__STATUS=0
SELECT_MASS_STORAGE_DRIVE__STATUS=0
SELECT_SERIAL_PORT__STATUS=0
SERIAL_PORT__STATUS=0
MASS_STORAGE_DRIVE__STATUS=0
NEW____STATUS=0
NOT_SET__STATUS=0
TIMEZONE_PREFERENCES__STATUS=0
SELECT_TIMEZONE_LIST__STATUS=0
NEED_DAYLIGHTSAVING_FIX__STATUS=0
WINTERTIME_FIX__STATUS=0
SUMMERTIME_FIX__STATUS=0
DEVICE_CONNECTION__STATUS=0
CUSTOM_NAME__STATUS=0
COMMUNICATION_SETTINGS__STATUS=0
CONFIG_ERROR_NO_DEVICE_OR_PARAMETERS__STATUS=0
DEVICE_VERSION__STATUS=0
COMMUNICATION_PORT__STATUS=0
OOPS_DEVICE_NOT_CONFIGURED__STATUS=0
CONFIGURED_DEVICE_INSTRUCTIONS__STATUS=0
CONFIGURED_DEVICE__STATUS=0
INSTRUCTIONS__STATUS=0
MY_DEVICE_NAME__STATUS=0
DEVICE_ICON__STATUS=0
DEVICE_NAME___STATUS=0
CONNECTION_TYPE__STATUS=0
CONNECTION_PARAMETER__STATUS=0
STATUS__STATUS=0
DAYLIGHTSAVINGS_FIX__STATUS=0
DS_NO__STATUS=0
DS_FIX_SHORT__STATUS=0
DS_FIX_LONG__STATUS=0
DEVICE_DOESNT_SUPPORT_DS_FIX__STATUS=0
DEVICE_DOESNT_SUPPORT_DS_FIX_2__STATUS=0
INSTRUCTIONS_DESC__STATUS=0
START_DOWNLOAD__STATUS=0
WAIT_UNTIL_DEVICE_PREINIT__STATUS=0
ERROR_IN_CONFIG__STATUS=0
READY__STATUS=0
DEVICE_HAS_NO_DOWNLOAD_SUPPORT__STATUS=0
DEVICE_DOWNLOAD_NOT_SUPPORTED_BY_GGC__STATUS=0
DEVICE_DOWNLOAD_NOT_SUPPORTED_GENERIC__STATUS=0
DEVICE_HAS_NO_DEVICE_DOWNLOAD_SUPPORT__STATUS=0
DEVICE_HAS_NO_FILE_DOWNLOAD_SUPPORT__STATUS=0
DEVICE_HAS_NO_CONFIG_DOWNLOAD_SUPPORT__STATUS=0
INTERNAL_CONFIGURATION_ERROR__STATUS=0
IMPORT_FILE_SELECTOR__STATUS=0
IMPORT_FILE_SELECTOR_DESC__STATUS=0
SELECT_FILE__STATUS=0
BROWSE__STATUS=0
MULTIPLE_IMPORT_SELECTOR__STATUS=0
MULTIPLE_IMPORT_SELECTOR_DESC__STATUS=0
ERROR_CONTACTING_DEVICE__STATUS=0
BREAK_COMMUNICATION__STATUS=0
EXPORT_DATA__STATUS=0
DATA__STATUS=0
LOG__STATUS=0
DEVICE_INFO__STATUS=0
ACTION__STATUS=0
READING_OLD_DATA__STATUS=0
STATUS_NONE__STATUS=0
STATUS_READY__STATUS=0
STATUS_DOWNLOADING__STATUS=0
STATUS_STOPPED_DEVICE__STATUS=0
STATUS_STOPPED_USER__STATUS=0
STATUS_DOWNLOAD_FINISHED__STATUS=0
STATUS_READER_ERROR__STATUS=0
UNKNOWN__STATUS=0
NEW__STATUS=0
CHANGED__STATUS=0
OLD__STATUS=0
LOG_IS_CURRENTLY_NOT_IMPLEMENTED__STATUS=0
READ_DEVICE_DATA_TITLE__STATUS=0
SW_VERSION__STATUS=0
HW_VERSION__STATUS=0
SELECT_ALL__STATUS=0
DESELECT_ALL__STATUS=0
FILTER__STATUS=0
FILTER_ALL__STATUS=0
FILTER_NEW__STATUS=0
FILTER_CHANGED__STATUS=0
FILTER_EXISTING__STATUS=0
FILTER_UNKNOWN__STATUS=0
FILTER_NEW_CHANGED__STATUS=0
FILTER_ALL_BUT_EXISTING__STATUS=0
EXPORT_OUTPUT__STATUS=0
EXPORT_DEVICE_DATA__STATUS=0
GGC_APPLICATION__STATUS=0
EXPORT_PROGRESS__STATUS=0
START__STATUS=0
EXPORT_STATUS_READY__STATUS=0
EXPORT_STATUS_EXPORTING__STATUS=0
EXPORT_STATUS_FINISHED__STATUS=0
LEGEND_DESC__STATUS=0
SYSTEM_PROPERTIES__STATUS=0
ABOUT__STATUS=0
PROPERTY__STATUS=0
VALUE__STATUS=0
LICENCE__STATUS=0
CREDITS__STATUS=0
LIBRARIES__STATUS=0
GGC_DEVELOPMENT_TEAM__STATUS=0
SEE_CREDITS__STATUS=0
DEVELOPERS_DESC__STATUS=0
HELPERS_DESC__STATUS=0
FEATURES__STATUS=0
IMPLEMENTED_FEATURES__STATUS=0
SUPPORTED_DEVICES__STATUS=0
NOT_IMPLEMENTED_FEATURES__STATUS=0
PLANNED_DEVICES__STATUS=0
DEVICE_PLUGIN__STATUS=0
DEVICE_PLUGIN_ABOUT__STATUS=0
PRINTING__STATUS=0
TYPE_OF_REPORT__STATUS=0
SELECT_YEAR_AND_MONTH__STATUS=0
REPORT_FOOTER__STATUS=0
FOR__STATUS=0
PRINTING_SETTINGS_NOT_SET__STATUS=0
PRINTING_SETTINGS_NOT_SET_SOL__STATUS=0
PDF_VIEVER_RUN_ERROR__STATUS=0
SELECT_STARTING_RANGE__STATUS=0
SELECT_ENDING_RANGE__STATUS=0
SERIAL_PORTS__STATUS=2
MASS_STORAGE__STATUS=0
DEVICE_PROTOCOL__STATUS=0
PROT_NONE__STATUS=0
PROT_SERIAL_BRIDGE__STATUS=0
PROT_MASS_STORAGE_XML__STATUS=0
PROT_BLUE_TOOTH__STATUS=0
PROT_BLUETOOTH_SERIAL__STATUS=0
PROT_SERIAL_USB__STATUS=0
PROT_FILE_IMPORT__STATUS=0
PROT_DATABASE__STATUS=0
NO_BINARY_PART_FOUND__STATUS=0
DEVICE_PIX_SPECIAL_COMMENT__STATUS=0
DEVICE_DUMMY_SPECIAL_COMMENT__STATUS=0
ERROR_DIALOG__STATUS=0
DETAILS__STATUS=0
ERROR_SOLUTION__STATUS=0
EXCEPTION_LOG__STATUS=0
SEND_TO_SERVER__STATUS=0
SENDING_TO_SERVER__STATUS=0
SEND_TO_SERVER_TEXT__STATUS=0
NO_SOLUTION_AVAILABLE__STATUS=0
ERROR_COUNT__STATUS=0
DOWNLOAD_DEVICE__STATUS=0
DOWNLOAD_FILE__STATUS=0
DOWNLOAD_CONFIG__STATUS=0
DOWNLOAD_NOT_SUPPORTED_GGC__STATUS=0
DOWNLOAD_NOT_SUPPORTED_BY_DEVICE__STATUS=0
IMPORT_FILE__STATUS=0
PIX_ABORT_AUTOSCAN__STATUS=0
PIX_DETECT_DEVICES__STATUS=0
PIX_UNRECOVERABLE_ERROR__STATUS=0
PIX_READING_ELEMENT__STATUS=0
PIX_FINISHED_REPORT_READY__STATUS=0
PIX_FINISHED_READING__STATUS=0
PIX_READING__STATUS=0
PIX_SCANNING__STATUS=0
PIX_CREATING_REPORT__STATUS=0
PIX_DEVICE_NOT_FOUND__STATUS=0
PIX_ERROR_INIT_DEVICE__STATUS=0
SMARTPIX_VERSION_2__STATUS=0
SMARTPIX_VERSION_3__STATUS=0
SMARTPIX_VERSION_INFO__STATUS=0
MM_DEVICE_INIT_PROBLEM__STATUS=0
MM_INVALID_RETURN_VALUE__STATUS=0
MM_WRONG_STATE__STATUS=0
MM_DEVICE_PUMP__STATUS=0
MM_DEVICE_CGMS__STATUS=0
MM_PUMP_ERROR_REPLY__STATUS=0
MM_PUMP_STATE_REPLY__STATUS=0
MM_ERROR_READING_DEVICE__STATUS=0
MM_SET_RF_POWER_ON__STATUS=0
MM_READ_PUMP_ERROR_STATUS__STATUS=0
MM_READ_PUMP_STATE__STATUS=0
MM_READ_TEMPORARY_BASAL__STATUS=0
MM_DETECT_BOLUS__STATUS=0
MM_ACKNOWLEDGE__STATUS=0
MM_CANCEL_SUSPEND__STATUS=0
MM_KEYPAD_PUSH_ACK__STATUS=0
MM_KEYPAD_PUSH_ESC__STATUS=0
MM_READ_FIRMWARE_VERSION__STATUS=0
MM_PUMP_DELIVERY_TBR__STATUS=0
MM_PUMP_DELIVERING_TBR__STATUS=2
DATE_RANGE_SELECTOR__STATUS=0
ONE_WEEK__STATUS=0
TWO_WEEKS__STATUS=0
1_MONTH__STATUS=0
3_MONTHS__STATUS=0
CUSTOM__STATUS=0
RANGE__STATUS=0
