body, p, li, dt, address {
    font-family: Verdana, Geneva, Arial, Helvetica;
    font-size: 12px;
}

body {

}

a:link, a:visited, a:hover {
    font-family: Arial, Helvetica, Verdana, Geneva;
    font-size: 12px;
    font-weight: bold;
}

a:link {
    color: #003399;
}

a:visited {
    color: #800080;
}

a:hover {
    color: #CC0000;
}

blockquote {
    font-family: Times New Roman, Times, serif;
    font-size: 12px;
    margin-left: 8pt;
    margin-right: 8pt;
    margin-top: 6pt;
}

h1 {
    font-family: Verdana, Geneva, Arial, Helvetica;
    font-size: 24px;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, Verdana, Geneva;
    font-weight: bold;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

img {
    border: 0px;
}

hr {
    color: #ff0000;
    background-color: #ff0000;
    height: 1px;
}

* html hr {
    height: 2px;
    padding: 0px;
    margin: 0px;
}

hr.b {
    width: 60%;
    text-align: left; /*this will align it for IE*/
    margin: 0 auto 0 0; /*this will align it left for Mozilla*/
    margin-top: 5px;
}

hr.c {
    width: 75%;
}

.text10 {
    font-size: 10px;
}

.nomarg, .boxhead {
    padding: 0px;
    margin: 0px;
}

.prodpic {
    width: 80px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.prodtext {
    width: 200px;
    margin: 0px;
    padding: 0px;
}

.whitetext, .bluetext, .greentext, .redtext, .purpletext, .whitetext_toolbl, .whitetext_toolred, .squaretop, .greenback, .lightblback, .redback, .purpleback {
    font-family: Verdana, Geneva, Arial, Helvetica;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.redtext {
    color: #CC0000;
}

.greentext {
    color: #008800;
}

.bluetext {
    color: #0000A0;
}

.purpletext {
    color: #800080;
}

.whitetext, .whitetext_toolbl {
    color: #FFFFFF;
    background-color: #0066cc;
}

.greenback {
    background-color: #008800;
    color: #FFFFFF;
}

.lightblback {
    background-color: #00CCFF;
    color: #FFFFFF;
}

.redback {
    background-color: #FF0000;
    color: #FFFFFF;
}

.purpleback {
    background-color: #6633CC;
    color: #ffffff;
}

.yellowback {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    background-color: #FFFF00;
    color: #000000;
}

.bold1 {
    font-weight: bold;
    text-align: center;
}

.bold2 {
    font-weight: bold;
    text-align: center;
}

.leftalign {
    text-align: left;
}

.rightalign {
    text-align: right;
}

.centeralign, .goog, #colleft, .boxhead {
    text-align: center;
}

.rightfloat {
    float: right;
    padding-left: 5px;
}

.leftfloat {
    padding-right: 5px;
}

.bgblue {
    background-color: #0066cc;
}

.bgyell {
    background-color: #FFCC00;
    text-align: center;
}

.boxborder {
    border-top: 2px solid #0066cc;
    border-right: 2px solid #0066cc;
    border-bottom: 2px none #0066cc;
    border-left: 2px solid #0066cc;
}

.boxborder_red {
    border-top: 2px solid #CC0000;
    border-right: 2px solid #CC0000;
    border-bottom: 2px none #CC0000;
    border-left: 2px solid #CC0000;
}

.boxborder_redfull {
    border: 2px solid #CC0000;
}

.box {
    border: 2px solid #0066CC;
    z-index: 1;
}

.adbox {
    position: relative;
    z-index: 1;
}

.squaretop {
    top: 0px;
    height: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #0066CC;
}

.boxtext {
    padding: 5px 0px 5px 0px;
}

.boxborderfull, .boxborderback, .boxborderbackblue {
    border: 2px solid #0066cc;
}

.boxborderbackblue {
    background-color: #0066cc;
}

.boxborderfull2 {
    border: 2px solid #0066cc;
}

.boxborderfullred {
    border: 2px solid #cc0000;
}

.boxborderback {
    background-color: #F9DC33;
}

#nav, #home, #banner, #search, #footer, .box, .squaretop, #content, #colleft, #main, #top {
    position: relative;
}

.leftfloat, #colleft, #home, #banner {
    float: left;
}

#adspace {
    height: auto;
    width: 760px;
    position: absolute;
    margin-left: -385px;
    top: 0px;
    left: 50%;
    background-color: #ffffff;
    text-align: center;
}

#adspace br {
    line-height: 30px;
}

body > #adspace {
    width: 764px;
}

#container {
    height: auto;
    width: 756px;
    position: absolute;
    margin-left: -385px;
    top: 0px;
    left: 50%;
    background-color: #ffffff;
    border: solid 2px #0066CC;
}

body > #container {
    width: 760px;
}

#nav {
    width: 756px;
    height: 18px;
    top: 4px;
    background-color: #0066CC;
    padding: 3px;
    font-family: Arial, Courier, Tahoma;
    font-size: 90%;
    font-weight: bold;
    z-index: 2;
}

#nav a {
    color: #ffffff;
    text-decoration: none;
}

#nav a:hover {
    color: #000000;
}

#content a:link, #content a:visited, #content a:hover {
    font-family: Arial, Verdana, Geneva;
    font-size: 12px;
    font-weight: bold;
}

#content {
    top: 19px;
    width: 748px;
    padding: 6px;
}

#content a:link {
    color: #003399;
}

#content a:visited {
    color: #800080;
}

#content a:hover {
    color: #CC0000;
}

#colleft {
    height: 100%;
    width: 140px;
    font-size: 12px;
    font-family: Arial, Verdana, Geneva;
}

#footer {
    margin: 0px auto 20px;
    text-align: center;
    bottom: 0px;
    top: auto;
    clear: both;
    width: 100%;
    left: 4px;
    font-family: Verdana, Geneva, Arial, Helvetica;
    font-size: 12px
}

#sitemap {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#sitemap a:link, #sitemap a:hover, #sitemap a:visited {
    font-size: 11px;
    font-weight: bold;
}

#sitemap ul li {
    padding: 0px;
    margin: 5px;

}

#sitemap ul li ul li {
    list-style: none;
}

#main {
    width: 600px;
    left: 5px;
}

#tableborder {
    text-align: center;
}

#tableborder table {
    border: 1px solid #000000;
    text-align: left;
}

#tableborder td {
    border: 1px solid #000000;
    font-family: Verdana, Geneva, Arial, Helvetica;
    font-size: 12px;
}

#tableborder p {
    font-family: Verdana, Geneva, Arial, Helvetica;
    font-size: 12px;
    line-height: 15px;
}

#tableborder h4 {
    font-family: Arial, Helvetica, Verdana, Geneva;
    font-size: 12px;
    font-weight: bold;
    color: #0066cc;
}

#tableborder h5 {
    font-family: Arial, Helvetica, Verdana, Geneva;
    font-size: 12px;
    font-weight: bold;
    color: #0066cc;
}

#contmont {
    text-align: center;
}

#contmont table {
    border: 1px solid #0066cc;
    text-align: left;
}

#contmont td {
    font-family: Verdana, Geneva, Arial, Helvetica;
    font-size: 12px;
}

#contmont p {
    font-family: Verdana, Geneva, Arial, Helvetica;
    font-size: 12px;
    line-height: 15px;
}

#boxredcl {
    background-repeat: no-repeat;
    background-position: left bottom;
}

#boxborder_red {
    border-top: 2px solid #CC0000;
    border-right: 2px solid #CC0000;
    border-bottom: 2px none #CC0000;
    border-left: 2px solid #CC0000;
}

#calculate {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#calculate a:link {
    font-size: 12px;
    color: #0066cc;
    text-decoration: underline;
    line-height: 20px;
}

#calculate a:visited {
    font-size: 12px;
    color: #0066cc;
    text-decoration: underline;
    line-height: 20px
}

#calculate a:hover {
    font-size: 12px;
    line-height: 20px;
    color: #CC0000;
}

#authortext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}

#top {
    height: 50px;
    width: 760px;
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #0066CC;
}

#home {
    height: 50px;
    z-index: auto;
    left: 7px;
}

#banner {
    width: 468px;
    height: 60px;
    padding: 0px;
}

#search {
    height: 47px;
    width: 200px;
    font-size: 70%;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    color: #0066cc;
    float: right;
    text-align: left;
    top: 2px;
    right: 0px;
}

* html .boxhead h2 {
    height: 1%;
}

.boxhead h2 {
    background: no-repeat top left;
    margin: 0;
    padding: 22px 30px 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1em;
}

.boxbody {
    background: no-repeat bottom left;
    margin: 0;
    padding: 5px 30px 31px;
}

#maintool {
    width: 730px;
    margin: 0px auto;
    text-align: left;
}

#toollist {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#toollist a:link {
    font-size: 14px;
    color: #0000FF;
    text-decoration: none;
    line-height: 20px;
}

#toollist a:visited {
    font-size: 12px;
    color: #0066cc;
    text-decoration: none;
    line-height: 20px
}

#toollist a:hover {
    font-size: 12px;
    line-height: 20px;
    color: #CC0000;
}

#toollist p {
    font-family: Verdana, Geneva, Arial, Helvetica;
    font-size: 12px;
}

.whitetext_toolred {
    color: #FFFFFF;
    padding: 3px 2px 1px 5px;
    background-color: #cc0000;
}

/* needs to be checked and taken out of tool section */
.boxborderfullll {
    border: 2px solid #0066cc;
}

.toolsty1 {
    font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #339933;
}

.toolsty3 {
    font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #339933;
}

.toolsty5 {
    font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #0000ff;
}

.toolsty6 {
    font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0000FF;
}

.toolsty7 {
    font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FF0000;
}

.toolsty8 {
    font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FF0000;
}

/* Authors of quotes on book pages */
.quoters {
    position: relative;
    left: 217px;
}
