DEVICE_NAME_NORMAL__STATUS=1
DEVICE_NAME_BIG__STATUS=1
DEVICE_FULL_NAME_WITHOUT_PORT__STATUS=1
DEVICE_FULL_NAME_WITH_PORT__STATUS=2
MN_CGMS__STATUS=1
MN_CGMS_READ__STATUS=2
MN_CGMS_READ_DESC__STATUS=2
MN_CGMS_LIST__STATUS=2
MN_CGMS_LIST_DESC__STATUS=2
MN_CGMS_CONFIG__STATUS=2
MN_CGMS_CONFIG_DESC__STATUS=2
MN_CGMS_ABOUT__STATUS=2
MN_CGMS_ABOUT_DESC__STATUS=2
MN_CGMS_VIEW_DATA__STATUS=1
MN_CGMS_VIEW_DATA_DESC__STATUS=1
MN_CGMS_READ_FILE__STATUS=0
MN_CGMS_READ_FILE_DESC__STATUS=0
DEVICE_PLUGIN__STATUS=2
DEVICE_PLUGIN_ABOUT__STATUS=2
MY____STATUS=2
NEW____STATUS=2
DEVICE_CONFIGURATION__STATUS=2
SELECT_X_DEVICE__STATUS=2
SELECTED_X_DEVICE__STATUS=2
DEVICE_CUSTOM_NAME__STATUS=2
DEVICE_DOWNLOAD__STATUS=1
DEVICE_SETTINGS__STATUS=2
SELECTOR_DEVICE__STATUS=2
OOPS_DEVICE_NOT_CONFIGURED__STATUS=2
CONFIGURED_DEVICE_INSTRUCTIONS__STATUS=2
DEVICE_ICON__STATUS=2
STATUS_READER_ERROR__STATUS=2
ERROR_CONTACTING_DEVICE__STATUS=2
DEVICE_INFO__STATUS=2
READ_DEVICE_DATA_TITLE__STATUS=2
READ_DEVICE_CONFIG_TITLE__STATUS=1
SETTING_GROUP__STATUS=1
EXPORT_DEVICE_DATA__STATUS=2
DEVICE_LIST_WEB__STATUS=2
DEVICE_LIST_WEB_DESC__STATUS=1
AVG_BG__STATUS=1
BLOOD_GLUCOSE_CGMS__STATUS=1
BLOOD_GLUCOSE_CALIB__STATUS=1
AVG__STATUS=1
TOTAL__STATUS=1
LOWEST__STATUS=1
STD_DEV__STATUS=1
READINGS__STATUS=1
HIGHEST__STATUS=1
SUM__STATUS=1
READING__STATUS=1
CGMS_DAILY_OVERVIEW__STATUS=1
ENTRY_TYPE__STATUS=1
COMMENT__STATUS=1
ENTRY_BG_READING__STATUS=1
ENTRY_BG_CALIBRATION__STATUS=1
CGMS_TOOL__STATUS=1
CGMS_DATA__STATUS=1
CGMS_DATA_EXTENDED__STATUS=0
CGMS_READINGS__STATUS=1
CALIBRATION_READINGS__STATUS=1
CGMS_READING__STATUS=1
INSTRUCTIONS_DEXCOM__STATUS=0
