DEVICE_NAME_NORMAL__STATUS=2
DEVICE_NAME_BIG__STATUS=2
DEVICE_FULL_NAME_WITH_PORT__STATUS=2
DEVICE_FULL_NAME_WITHOUT_PORT__STATUS=2
DEVICE_DEVICE__STATUS=2
MN_METERS__STATUS=2
MN_METERS_READ__STATUS=2
MN_METERS_READ_DESC__STATUS=2
MN_METERS_LIST__STATUS=2
MN_METERS_LIST_DESC__STATUS=2
MN_METERS_CONFIG__STATUS=2
MN_METERS_CONFIG_DESC__STATUS=2
MN_METERS_ABOUT__STATUS=2
MN_METERS_ABOUT_DESC__STATUS=2
MN_METERS_READ_FILE__STATUS=2
MN_METERS_READ_FILE_DESC__STATUS=2
MY____STATUS=2
NEW____STATUS=2
DEVICE_CONFIGURATION__STATUS=2
SELECT_X_DEVICE__STATUS=2
SELECTED_X_DEVICE__STATUS=2
DEVICE_CUSTOM_NAME__STATUS=2
SELECTOR_DEVICE__STATUS=2
OOPS_DEVICE_NOT_CONFIGURED__STATUS=2
CONFIGURED_DEVICE_INSTRUCTIONS__STATUS=2
DEVICE_ICON__STATUS=2
DEVICE_INFO__STATUS=2
ERROR_CONTACTING_DEVICE__STATUS=2
READ_DEVICE_DATA_TITLE__STATUS=2
STATUS_READER_ERROR__STATUS=2
DATETIME__STATUS=2
BG_MMOLL__STATUS=2
BG_MGDL__STATUS=2
MULTIPLE__STATUS=2
URINE__STATUS=2
BG__STATUS=2
ENTRY_TYPE__STATUS=2
EXPORT_DEVICE_DATA__STATUS=2
DEVICE_LIST_WEB__STATUS=2
METERS_LIST_WEB_DESC__STATUS=2
DEVICE_PLUGIN__STATUS=2
DEVICE_PLUGIN_ABOUT__STATUS=2
INSTRUCTIONS_ASCENSIA_BREEZE__STATUS=2
INSTRUCTIONS_ASCENSIA_CONTOUR__STATUS=2
INSTRUCTIONS_ASCENSIA_ELITE_XL__STATUS=2
INSTRUCTIONS_ASCENSIA_DEX__STATUS=2
INSTRUCTIONS_ACCUCHEK_ACTIVE__STATUS=2
INSTRUCTIONS_ACCUCHEK_ADVANTAGE__STATUS=2
INSTRUCTIONS_ACCUCHEK_AVIVA__STATUS=2
INSTRUCTIONS_ACCUCHEK_COMFORT__STATUS=2
INSTRUCTIONS_ACCUCHEK_COMPACT__STATUS=2
INSTRUCTIONS_ACCUCHEK_COMPACTPLUS__STATUS=2
INSTRUCTIONS_ACCUCHEK_GO__STATUS=2
INSTRUCTIONS_ACCUCHEK_INTEGRA__STATUS=2
INSTRUCTIONS_ACCUCHEK_PERFORMA__STATUS=2
INSTRUCTIONS_ACCUCHEK_SENSOR__STATUS=2
INSTRUCTIONS_ACCUCHEK_NANO__STATUS=2
INSTRUCTIONS_LIFESCAN_ON__STATUS=2
INSTRUCTIONS_LIFESCAN_OFF__STATUS=2
INSTRUCTIONS_ABBOTT_OPTIUMXCEED__STATUS=2
READING_SW_VERSION__STATUS=2
READING_SERIAL_NR__STATUS=2
READING_DATA_COUNTER__STATUS=2
READING_PROCESSING_ENTRY__STATUS=2
READING_SERIAL_NR_SETTINGS__STATUS=2
BG_UNIT__STATUS=2
TIME_ON_DEVICE__STATUS=2
