CANCEL__STATUS=2
OK__STATUS=2
HELP__STATUS=2
CLOSE__STATUS=2
APPLY__STATUS=2
LOG____STATUS=2
SELECT__STATUS=2
ERROR__STATUS=2
ADD__STATUS=2
EDIT__STATUS=2
DELETE__STATUS=2
NEXT__STATUS=2
YES__STATUS=2
NO__STATUS=2
WARNING__STATUS=2
UNIT_MMOLL__STATUS=2
UNIT_MGDL__STATUS=2
FALSE__STATUS=2
TRUE__STATUS=2
DATE__STATUS=2
TIME__STATUS=2
GRAPH__STATUS=2
SELECT_ITEM_FIRST__STATUS=2
ARE_YOU_SURE_DELETE__STATUS=2
QUESTION__STATUS=2
INFORMATION__STATUS=2
INVALID_DATA__STATUS=2
VERSION__STATUS=2
SU__STATUS=2
MO__STATUS=2
TU__STATUS=2
WE__STATUS=2
TH__STATUS=2
FR__STATUS=2
SA__STATUS=2
JANUARY__STATUS=2
FEBRUARY__STATUS=2
MARCH__STATUS=2
APRIL__STATUS=2
MAY__STATUS=2
JUNE__STATUS=2
JULY__STATUS=2
AUGUST__STATUS=2
SEPTEMBER__STATUS=2
OCTOBER__STATUS=2
NOVEMBER__STATUS=2
DECEMBER__STATUS=2
MY____STATUS=2
DEVICE_COMPANY__STATUS=2
DEVICE_DEVICE__STATUS=2
NO_COMPANY_SELECTED__STATUS=2
NO_DEVICE_SELECTED__STATUS=2
TIMEZONE_CONFIGURATION__STATUS=2
SELECT_ITEM_OR_CANCEL__STATUS=2
SELECT_MASS_STORAGE_DRIVE__STATUS=2
SELECT_SERIAL_PORT__STATUS=2
SERIAL_PORT__STATUS=2
MASS_STORAGE_DRIVE__STATUS=2
NEW____STATUS=2
NOT_SET__STATUS=2
TIMEZONE_PREFERENCES__STATUS=2
SELECT_TIMEZONE_LIST__STATUS=2
NEED_DAYLIGHTSAVING_FIX__STATUS=2
WINTERTIME_FIX__STATUS=2
SUMMERTIME_FIX__STATUS=2
DEVICE_CONNECTION__STATUS=2
CUSTOM_NAME__STATUS=2
COMMUNICATION_SETTINGS__STATUS=2
CONFIG_ERROR_NO_DEVICE_OR_PARAMETERS__STATUS=2
DEVICE_VERSION__STATUS=2
COMMUNICATION_PORT__STATUS=2
OOPS_DEVICE_NOT_CONFIGURED__STATUS=2
CONFIGURED_DEVICE_INSTRUCTIONS__STATUS=2
CONFIGURED_DEVICE__STATUS=2
INSTRUCTIONS__STATUS=2
MY_DEVICE_NAME__STATUS=2
DEVICE_ICON__STATUS=2
DEVICE_NAME___STATUS=2
CONNECTION_TYPE__STATUS=2
CONNECTION_PARAMETER__STATUS=2
STATUS__STATUS=2
DAYLIGHTSAVINGS_FIX__STATUS=2
DS_NO__STATUS=2
DS_FIX_SHORT__STATUS=2
DS_FIX_LONG__STATUS=2
DEVICE_DOESNT_SUPPORT_DS_FIX__STATUS=2
DEVICE_DOESNT_SUPPORT_DS_FIX_2__STATUS=2
INSTRUCTIONS_DESC__STATUS=2
START_DOWNLOAD__STATUS=2
WAIT_UNTIL_DEVICE_PREINIT__STATUS=2
ERROR_IN_CONFIG__STATUS=2
READY__STATUS=2
DEVICE_HAS_NO_DOWNLOAD_SUPPORT__STATUS=1
DEVICE_DOWNLOAD_NOT_SUPPORTED_BY_GGC__STATUS=1
DEVICE_DOWNLOAD_NOT_SUPPORTED_GENERIC__STATUS=1
DEVICE_HAS_NO_DEVICE_DOWNLOAD_SUPPORT__STATUS=1
DEVICE_HAS_NO_FILE_DOWNLOAD_SUPPORT__STATUS=1
DEVICE_HAS_NO_CONFIG_DOWNLOAD_SUPPORT__STATUS=1
INTERNAL_CONFIGURATION_ERROR__STATUS=2
IMPORT_FILE_SELECTOR__STATUS=2
IMPORT_FILE_SELECTOR_DESC__STATUS=2
SELECT_FILE__STATUS=2
BROWSE__STATUS=2
MULTIPLE_IMPORT_SELECTOR__STATUS=2
MULTIPLE_IMPORT_SELECTOR_DESC__STATUS=2
ERROR_CONTACTING_DEVICE__STATUS=2
BREAK_COMMUNICATION__STATUS=2
EXPORT_DATA__STATUS=2
DATA__STATUS=2
LOG__STATUS=2
DEVICE_INFO__STATUS=2
ACTION__STATUS=2
READING_OLD_DATA__STATUS=2
STATUS_NONE__STATUS=2
STATUS_READY__STATUS=2
STATUS_DOWNLOADING__STATUS=2
STATUS_STOPPED_DEVICE__STATUS=2
STATUS_STOPPED_USER__STATUS=2
STATUS_DOWNLOAD_FINISHED__STATUS=2
STATUS_READER_ERROR__STATUS=2
UNKNOWN__STATUS=2
NEW__STATUS=2
CHANGED__STATUS=2
OLD__STATUS=2
LOG_IS_CURRENTLY_NOT_IMPLEMENTED__STATUS=2
READ_DEVICE_DATA_TITLE__STATUS=2
SW_VERSION__STATUS=2
HW_VERSION__STATUS=2
SELECT_ALL__STATUS=2
DESELECT_ALL__STATUS=2
FILTER__STATUS=2
FILTER_ALL__STATUS=2
FILTER_NEW__STATUS=2
FILTER_CHANGED__STATUS=2
FILTER_EXISTING__STATUS=2
FILTER_UNKNOWN__STATUS=2
FILTER_NEW_CHANGED__STATUS=2
FILTER_ALL_BUT_EXISTING__STATUS=2
EXPORT_OUTPUT__STATUS=2
EXPORT_DEVICE_DATA__STATUS=2
GGC_APPLICATION__STATUS=2
EXPORT_PROGRESS__STATUS=2
START__STATUS=2
EXPORT_STATUS_READY__STATUS=2
EXPORT_STATUS_EXPORTING__STATUS=2
EXPORT_STATUS_FINISHED__STATUS=2
LEGEND_DESC__STATUS=2
SYSTEM_PROPERTIES__STATUS=2
ABOUT__STATUS=2
PROPERTY__STATUS=2
VALUE__STATUS=2
LICENCE__STATUS=2
CREDITS__STATUS=2
LIBRARIES__STATUS=2
GGC_DEVELOPMENT_TEAM__STATUS=2
SEE_CREDITS__STATUS=2
DEVELOPERS_DESC__STATUS=2
HELPERS_DESC__STATUS=2
FEATURES__STATUS=2
IMPLEMENTED_FEATURES__STATUS=2
SUPPORTED_DEVICES__STATUS=2
NOT_IMPLEMENTED_FEATURES__STATUS=2
PLANNED_DEVICES__STATUS=2
DEVICE_PLUGIN__STATUS=2
DEVICE_PLUGIN_ABOUT__STATUS=2
PRINTING__STATUS=2
TYPE_OF_REPORT__STATUS=2
SELECT_YEAR_AND_MONTH__STATUS=2
REPORT_FOOTER__STATUS=2
FOR__STATUS=2
PRINTING_SETTINGS_NOT_SET__STATUS=2
PRINTING_SETTINGS_NOT_SET_SOL__STATUS=2
PDF_VIEVER_RUN_ERROR__STATUS=2
SELECT_STARTING_RANGE__STATUS=2
SELECT_ENDING_RANGE__STATUS=2
SERIAL_PORTS__STATUS=2
MASS_STORAGE__STATUS=1
DEVICE_PROTOCOL__STATUS=2
PROT_NONE__STATUS=2
PROT_SERIAL_BRIDGE__STATUS=2
PROT_MASS_STORAGE_XML__STATUS=2
PROT_BLUE_TOOTH__STATUS=2
PROT_BLUETOOTH_SERIAL__STATUS=2
PROT_SERIAL_USB__STATUS=2
PROT_FILE_IMPORT__STATUS=2
PROT_DATABASE__STATUS=2
NO_BINARY_PART_FOUND__STATUS=2
DEVICE_PIX_SPECIAL_COMMENT__STATUS=2
DEVICE_DUMMY_SPECIAL_COMMENT__STATUS=2
ERROR_DIALOG__STATUS=2
DETAILS__STATUS=2
ERROR_SOLUTION__STATUS=2
EXCEPTION_LOG__STATUS=2
SEND_TO_SERVER__STATUS=2
SENDING_TO_SERVER__STATUS=2
SEND_TO_SERVER_TEXT__STATUS=2
NO_SOLUTION_AVAILABLE__STATUS=2
ERROR_COUNT__STATUS=2
DOWNLOAD_DEVICE__STATUS=2
DOWNLOAD_FILE__STATUS=2
DOWNLOAD_CONFIG__STATUS=2
DOWNLOAD_NOT_SUPPORTED_GGC__STATUS=2
DOWNLOAD_NOT_SUPPORTED_BY_DEVICE__STATUS=2
IMPORT_FILE__STATUS=2
PIX_ABORT_AUTOSCAN__STATUS=2
PIX_DETECT_DEVICES__STATUS=2
PIX_UNRECOVERABLE_ERROR__STATUS=2
PIX_READING_ELEMENT__STATUS=2
PIX_FINISHED_REPORT_READY__STATUS=2
PIX_FINISHED_READING__STATUS=2
PIX_READING__STATUS=2
PIX_SCANNING__STATUS=2
PIX_CREATING_REPORT__STATUS=2
PIX_DEVICE_NOT_FOUND__STATUS=2
PIX_ERROR_INIT_DEVICE__STATUS=2
SMARTPIX_VERSION_2__STATUS=2
SMARTPIX_VERSION_3__STATUS=2
SMARTPIX_VERSION_INFO__STATUS=2
MM_DEVICE_INIT_PROBLEM__STATUS=0
MM_INVALID_RETURN_VALUE__STATUS=0
MM_WRONG_STATE__STATUS=0
MM_DEVICE_PUMP__STATUS=0
MM_DEVICE_CGMS__STATUS=0
MM_PUMP_ERROR_REPLY__STATUS=0
MM_PUMP_STATE_REPLY__STATUS=0
MM_ERROR_READING_DEVICE__STATUS=0
MM_SET_RF_POWER_ON__STATUS=0
MM_READ_PUMP_ERROR_STATUS__STATUS=0
MM_READ_PUMP_STATE__STATUS=0
MM_READ_TEMPORARY_BASAL__STATUS=0
MM_DETECT_BOLUS__STATUS=0
MM_ACKNOWLEDGE__STATUS=0
MM_CANCEL_SUSPEND__STATUS=0
MM_KEYPAD_PUSH_ACK__STATUS=0
MM_KEYPAD_PUSH_ESC__STATUS=0
MM_READ_FIRMWARE_VERSION__STATUS=0
MM_PUMP_DELIVERY_TBR__STATUS=0
MM_PUMP_DELIVERING_TBR__STATUS=0
DATE_RANGE_SELECTOR__STATUS=2
ONE_WEEK__STATUS=2
TWO_WEEKS__STATUS=0
1_MONTH__STATUS=0
3_MONTHS__STATUS=0
CUSTOM__STATUS=0
RANGE__STATUS=0
