
#
#  Module configuration
#


#
# Root part of Language File
#
MASTER_FILE_ROOT=GGCPumpTool

#
# Master file Language
#
MASTER_FILE_LANGUAGE=en


#
# Module description
#
MODULE_DESCRIPTION=GGC Pump Plugin


#
# Module Id (this should be as unique as you can, but it shouldn't be too long, this Id will be used, when 
#            you create Custom Header, or custom Post Header (Commend))
#
MODULE_ID=GGC_PUMP
