
#
#  Is Language Tool enabled 
#
LANGUAGE_TOOL_ENABLED=true

#
#  Short name (this is extension that files must have)
#
LANGUAGE_SHORT=fr

#
#  This name might be displayed in GGC in future so make it like Translation - French, so that
#  you know which files are current translation and which came with application. 
#
LANGUAGE_NAME=Translation - French

#
#  This is ignored for now, but in future you won't need to copy files by hand anymore.
#  NOT USED
#
LANGUAGE_PATH=/data/tools/translation

#
#  For translation of help. This might be possible to do in future.  
#  NOT USED
#
LANGUAGE_HELP_ENABLED=false