DELETE__STATUS=2
ADD__STATUS=2
EDIT__STATUS=2
NEW__STATUS=2
INFORMATION__STATUS=2
QUESTION__STATUS=2
YES__STATUS=2
NO__STATUS=2
OK__STATUS=2
CANCEL__STATUS=2
APPLY__STATUS=2
SELECT__STATUS=2
HELP__STATUS=2
ROOT__STATUS=2
SELECT_ITEM_FIRST__STATUS=2
ARE_YOU_SURE_DELETE__STATUS=2
TRANSLATED_NAME__STATUS=2
ID__STATUS=2
USDA_NUTRITION_DATABASE__STATUS=2
USER_NUTRITION_DATABASE__STATUS=2
USDA_NUTRITION_DATABASE_DESC__STATUS=2
USER_NUTRITION_DATABASE_DESC__STATUS=2
USDA_NUTRITION_DB__STATUS=2
USER_NUTRITION_DB__STATUS=2
MEALS_DB__STATUS=2
NONE__STATUS=2
NUTRITION__STATUS=2
AMOUNT_LBL__STATUS=2
MN_FOOD__STATUS=2
MN_NUTRDB_USDB__STATUS=2
MN_NUTRDB_USDB_DESC__STATUS=2
MN_NUTRDB_USER__STATUS=2
MN_NUTRDB_USER_DESC__STATUS=2
MN_MEALS__STATUS=2
MN_MEALS_DESC__STATUS=2
MN_FOODMENU__STATUS=2
MN_FOODMENU_DESC__STATUS=2
MN_FOODMENU_SIMPLE__STATUS=2
MN_FOODMENU_SIMPLE_DESC__STATUS=2
MN_FOODMENU_EXT1__STATUS=2
MN_FOODMENU_EXT1_DESC__STATUS=2
MN_FOODMENU_EXT2__STATUS=2
MN_FOODMENU_EXT2_DESC__STATUS=2
MN_FOODMENU_EXT3__STATUS=2
MN_FOODMENU_EXT3_DESC__STATUS=2
PM_NUT_VIEW__STATUS=2
PM_NUT_CLOSE__STATUS=2
PM_NUT_EDIT_GROUP__STATUS=2
PM_NUT_ADD_GROUP__STATUS=2
PM_NUT_ADD_FOOD_DESCRIPTION__STATUS=2
PM_NUT_EDIT_FOOD_DESCRIPTION__STATUS=2
PM_NUT_ADD_MEAL__STATUS=2
PM_NUT_EDIT_MEAL__STATUS=2
NUTRITION_OBJECTS__STATUS=2
USER_FOOD_GROUPS__STATUS=2
MEAL_GROUPS__STATUS=2
MEALS__STATUS=2
FOODS__STATUS=2
NEW_FOOD__STATUS=2
ADD_FOOD__STATUS=2
FOOD_GROUP__STATUS=2
GROUP_NAME__STATUS=2
FOOD_NAME__STATUS=2
REFUSE_LBL__STATUS=2
NUTRITIONS_FOOD__STATUS=2
FOOD_DESCRIPTION__STATUS=2
HOME_WEIGHTS__STATUS=2
WEIGHT_TYPE__STATUS=2
AMOUNT_WEIGHT__STATUS=2
WEIGHT__STATUS=2
UNITS__STATUS=2
FOOD_GROUPS__STATUS=2
MEAL_GROUP__STATUS=2
SELECTED_GROUP__STATUS=2
SELECT_GROUP__STATUS=2
PARENT_GROUP__STATUS=2
EDIT_MEAL_GROUP__STATUS=2
ADD_MEAL_GROUP__STATUS=2
NEW_GROUP__STATUS=2
TRANSLATION_KEYWORD__STATUS=2
WISH_TO_SAVE_NEW_GROUP__STATUS=2
WISH_TO_SAVE_EDITED_GROUP__STATUS=2
ADD_FOOD_GROUP__STATUS=2
EDIT_FOOD_GROUP__STATUS=2
NUTRITION_TYPE__STATUS=2
SELECTED_ITEM__STATUS=2
NUTRITION_TYPE_FOR_SELECTOR__STATUS=2
SELECTOR__STATUS=2
USDA_NUTRITION__STATUS=2
USER_NUTRITION__STATUS=2
MEAL__STATUS=2
SELECT_ITEM__STATUS=2
MEALS_FOODS_SELECTOR__STATUS=2
MEAL_ADD__STATUS=2
MEAL_EDIT__STATUS=2
MEAL_NAME__STATUS=2
AVAILABLE_NUTRITIONS__STATUS=2
FOODS_MEALS_NUTRITIONS__STATUS=2
MEAL_FOOD_ADD_DESC__STATUS=2
MEAL_FOOD_EDIT_DESC__STATUS=2
MEAL_FOOD_DELETE_DESC__STATUS=2
MEAL_TYPE__STATUS=2
DESCRIPTION__STATUS=2
TRANSLATION_KEYWORD_MEAL__STATUS=2
TRANSLATED_NAME_MEAL__STATUS=2
GROUP__STATUS=2
WISH_TO_SAVE_NEW_MEAL__STATUS=2
WISH_TO_SAVE_EDITED_MEAL__STATUS=2
NEW_MEAL__STATUS=2
CANT_SELECT_CIRCULAR_MEAL__STATUS=2
CANT_SELECT_CHILD_OR_GROUP__STATUS=2
MEAL_VIEW__STATUS=2
MEALS_DATABASE__STATUS=2
MEALS_DATABASE_DESC__STATUS=2
ADD_MEAL__STATUS=2
FOOD_EDIT__STATUS=2
SELECTED_NUTRITION__STATUS=2
SELECT_NUTRITION__STATUS=2
SELECTED_HOME_WEIGHT__STATUS=2
SELECT_HOME_WEIGHT__STATUS=2
NEW_NUTR_DEF__STATUS=2
WEIGHT_UNIT__STATUS=2
TAG__STATUS=2
SELECTOR_NUTRITION_DEFINITION__STATUS=2
NUTRITION_NAME__STATUS=2
NUTRITION_SELECTOR__STATUS=2
HOME_WEIGHT_SELECTOR__STATUS=2
WISH_TO_SAVE_NEW_FOOD__STATUS=2
WISH_TO_SAVE_EDITED_FOOD__STATUS=2
NUTRITIONS__STATUS=2
SELECTOR_HOME_WEIGHT__STATUS=2
NEW_HOME_WEIGHT__STATUS=2
HOME_WEIGHT_NAME__STATUS=2
USER_DEFINED__STATUS=2
HOME_WEIGHT_ADD_DESC__STATUS=2
HOME_WEIGHT_EDIT_DESC__STATUS=2
HOME_WEIGHT_DELETE_DESC__STATUS=2
WEIGHT_LBL2__STATUS=2
HOME_WEIGHTS_LBL__STATUS=2
WGHT_PER_AMOUNT__STATUS=2
WEIGHT_SHORT__STATUS=2
MEALS_FOODS_SELECTOR_DAILY__STATUS=2
NAME__STATUS=2
HOME_WEIGHT__STATUS=2
NO_ITEM_SELECTED__STATUS=2
PRINT_FOOD_DESC__STATUS=2
DATE__STATUS=2
TIME__STATUS=2
FOOD_MENU_BASE__STATUS=2
FOOD_MENU_EXT_I__STATUS=2
FOOD_MENU_EXT_II__STATUS=2
FOOD_MENU_EXT_III__STATUS=2
REPORT_FOOTER__STATUS=2
TOGETHER__STATUS=2
CH__STATUS=2
INS__STATUS=2
BG__STATUS=2
AMOUNT_SHORT__STATUS=2
PROCNT__STATUS=2
FAT__STATUS=2
CHOCDF__STATUS=2
ASH__STATUS=2
ENERC_KCAL__STATUS=2
STARCH__STATUS=1
SUCS__STATUS=1
GLUS__STATUS=2
FRUS__STATUS=2
LACS__STATUS=2
MALS__STATUS=2
ALC__STATUS=2
WATER__STATUS=2
CAFFN__STATUS=2
GI__STATUS=2
GL__STATUS=2
GI_MIN__STATUS=2
GI_MAX__STATUS=2
GL_MIN__STATUS=2
GL_MAX__STATUS=2
ENERC_KJ__STATUS=2
SUGAR__STATUS=2
GALS__STATUS=1
FIBTG__STATUS=2
CA__STATUS=1
FE__STATUS=1
MG__STATUS=1
P__STATUS=1
K__STATUS=1
NA__STATUS=1
ZN__STATUS=1
CU__STATUS=1
FLD__STATUS=1
MN__STATUS=1
SE__STATUS=1
VITA_IU__STATUS=1
VITA_RAE__STATUS=1
CARTB__STATUS=1
CARTA__STATUS=1
TOCPHA__STATUS=1
VITD-__STATUS=1
VITB6A__STATUS=1
VITB12__STATUS=1
VITK__STATUS=1
FAMS__STATUS=1
FAPU__STATUS=1
CHOLE__STATUS=2
FATRN__STATUS=1
FASAT__STATUS=1
FATRNM__STATUS=2
FATRNP__STATUS=2
FOL__STATUS=1
CHOLN__STATUS=1
THEBRN__STATUS=1
RETOL__STATUS=1
CRYPX__STATUS=1
LYCPN__STATUS=1
LUT+ZEA__STATUS=1
TOCPHB__STATUS=1
TOCPHG__STATUS=1
TOCPHD__STATUS=1
VITC__STATUS=1
THIA__STATUS=1
RIBF__STATUS=1
NIA__STATUS=1
PANTAC__STATUS=1
FOLAC__STATUS=1
FOLFD__STATUS=1
FOLDFE__STATUS=1
BETN__STATUS=1
TRP_G__STATUS=1
THR_G__STATUS=1
ILE_G__STATUS=1
LEU_G__STATUS=1
LYS_G__STATUS=1
MET_G__STATUS=1
CYS_G__STATUS=1
PHE_G__STATUS=1
TYR_G__STATUS=1
VAL_G__STATUS=1
ARG_G__STATUS=1
HISTN_G__STATUS=1
ALA_G__STATUS=1
ASP_G__STATUS=1
GLU_G__STATUS=1
GLY_G__STATUS=1
PRO_G__STATUS=1
SER_G__STATUS=1
HYP__STATUS=1
PHYSTR__STATUS=1
STID7__STATUS=1
CAMD5__STATUS=1
SITSTR__STATUS=1
-TO-SERVE__STATUS=2
AFTER__STATUS=2
APPROX__STATUS=2
AMOUNT__STATUS=2
AVG.__STATUS=2
BLOCK__STATUS=2
BLOCKS__STATUS=2
BONE__STATUS=2
BONELESS__STATUS=2
BOTTLE__STATUS=2
BAG__STATUS=2
BAR__STATUS=2
BIG__STATUS=2
BOX__STATUS=2
CAN__STATUS=2
CHOPPED__STATUS=2
CHUNK__STATUS=2
CHUNKS__STATUS=2
CONTAINER__STATUS=2
CONTENTS__STATUS=2
COOKED__STATUS=2
COOKIE__STATUS=2
COOK__STATUS=2
COOKING__STATUS=2
CRUMBLED__STATUS=2
CRUSHED__STATUS=2
CUBED__STATUS=2
CUBIC__STATUS=2
CUT__STATUS=2
CUBE__STATUS=2
CUBES__STATUS=2
CUP__STATUS=2
CUPCAKE__STATUS=2
CUPS__STATUS=2
CURD__STATUS=2
DICED__STATUS=2
DASH__STATUS=2
DRAINED__STATUS=2
DIA__STATUS=2
DIA.__STATUS=2
DIAM__STATUS=2
DIAM.__STATUS=2
DIAMETER__STATUS=2
ENVELOPE__STATUS=2
EXTRA__STATUS=2
FOR__STATUS=2
FROM__STATUS=2
FROZEN__STATUS=2
FRUIT__STATUS=2
FRUITS__STATUS=2
FL__STATUS=2
FLUID__STATUS=2
GROUND__STATUS=2
G__STATUS=1
HIGH__STATUS=2
IN__STATUS=2
IN.__STATUS=2
INCH__STATUS=2
INSTANT__STATUS=2
ITEM__STATUS=2
ITEMS__STATUS=2
INDIVIDUAL__STATUS=2
JAR__STATUS=2
JUMBO__STATUS=2
LARGE__STATUS=2
LEAVES__STATUS=2
LONG__STATUS=2
LB__STATUS=2
MAKE__STATUS=2
MASHED__STATUS=2
MAKES__STATUS=2
MEDIUM__STATUS=2
MEAT__STATUS=2
ML__STATUS=1
MELTED__STATUS=2
NOT__STATUS=2
NET__STATUS=2
OUNCE__STATUS=2
OZ__STATUS=2
OZ.__STATUS=2
OR__STATUS=2
PACK__STATUS=2
PACKAGE__STATUS=2
PACKET__STATUS=2
PACKAGES__STATUS=2
PACKED__STATUS=2
PAT__STATUS=2
PATTY__STATUS=2
PIECE__STATUS=2
PIECES__STATUS=2
PKG.__STATUS=2
POD__STATUS=2
PODS__STATUS=2
PORTION__STATUS=2
POWDER__STATUS=2
PRODUCT__STATUS=2
PREPARED__STATUS=2
QUART__STATUS=2
RAW__STATUS=2
READY__STATUS=2
READY-TO__STATUS=2
READY-TO-COOK__STATUS=2
READY-TO-EAT__STATUS=2
READY-TO-SERVE__STATUS=2
RECIPE__STATUS=2
RECONSTITUTED__STATUS=2
REFRIGATED__STATUS=2
REFRIGERATED__STATUS=2
REFUSE__STATUS=2
REGULAR__STATUS=2
REMOVED__STATUS=2
ROLL__STATUS=2
ROLLS__STATUS=2
SCOOP__STATUS=2
SERVING__STATUS=2
SERVINGS__STATUS=2
SHREDDED__STATUS=2
SHELLED__STATUS=2
SIFTED__STATUS=2
SIZE__STATUS=2
SMALL__STATUS=2
SMALLER__STATUS=2
SKIN__STATUS=2
SLICE__STATUS=2
SLICED__STATUS=2
SLICES__STATUS=2
SNACK__STATUS=2
SNACK-SIZE__STATUS=2
SQ__STATUS=2
SPRIG__STATUS=2
SPRIGS__STATUS=2
SPOON__STATUS=2
STICK__STATUS=2
STICKS__STATUS=2
TABLESPOON__STATUS=2
TBSP__STATUS=2
TBS__STATUS=2
TEASPOON__STATUS=2
TO__STATUS=2
TSP__STATUS=2
THAWED__STATUS=2
THICK__STATUS=2
THIN__STATUS=2
THICK.__STATUS=2
UNIT__STATUS=2
UNPACKED__STATUS=2
UNPEELED__STATUS=2
UNPREPARED__STATUS=2
UNSIFTED__STATUS=2
UNTHAWED__STATUS=2
UNDILUTED__STATUS=2
UNDRAINED__STATUS=2
UNHEATED__STATUS=2
WHOLE__STATUS=2
WITH__STATUS=2
WITHOUT__STATUS=2
WRAPPED__STATUS=2
WEDGE__STATUS=2
WEDGES__STATUS=2
WHIPPED__STATUS=2
YIELD__STATUS=2
YIELDS__STATUS=2
X__STATUS=1
MILK__STATUS=2
EGG__STATUS=2
STEAK__STATUS=2
HEADS__STATUS=2
